// Copyright 2020 Furqan Software Ltd. All rights reserved.

@require '../../../base/const'
@require '../../../base/palette'

.pnav
	display none
	border-top 1px solid lighten($silver, 75%)
	
	&.-open
		display block
	
	&__group
		display flex

	&__search
		position relative
		font-size 1rem
		
		input
			width 100%
			padding 0.75rem 1rem 0.75rem 2rem
			border none

			&:focus
				outline none
		
		.icon
			position absolute
			top 1.125rem
			left 0.25rem
			line-height inherit
			opacity 0.75
		
	&__item
		color $dark
		font-size 1rem

		&.-link,
		&.-drop > a
			text-decoration none

			&:hover,
			&:focus
				text-decoration none
				background-color transparent
				color $dark
		
		&.-more
			&,
			&:hover,
			&:focus
				text-decoration none

		.icon
			margin-top 0.25rem

@media (max-width: 991px)
	.pnav
		&__group
			flex-direction column

		&__search
			width 100%
			margin 1rem 0
		
		&__item.-link,
		&__item.-drop > a,
		&__menu > a
			display block
			margin 0 -15px
			padding 0.5rem 1rem

			&.-active
				border-left 0.25rem solid $blue
				padding-left 0.75rem

		&__item.-drop
			.pnav__menu
				display none
			
			&.-open .pnav__menu
				display block
		
		&__divider
			height 1rem

@media (min-width: 992px)
	.pnav
		display block

		&__search
			float right
			width 15rem
		
		&__item
			&.-link,
			&.-drop > a
				position relative
				padding 0.75rem 1rem

			&.-drop
				position relative

				> a
					display inline-block

				.pnav__menu
					display none
					float left
					position absolute
					top 100%
					left 0
					z-index 1000
					min-width 150px
					min-width max-content
					margin 5px 0 0
					padding 0
					border 1px solid darken($silver, 5%)
					border-radius 0.25rem
					overflow hidden
					text-align left
					background-color white
					box-shadow 0 3px 0 alpha($dark, 0.05)
					
					> a
						display block
						padding 0.5rem 1rem
						color $dark
						transition background-color $fast ease-in

						&:hover,
						&:focus,
						&:active
							background-color lighten($silver, 75%)
				
				&.-open .pnav__menu
					display block

		&__search,
		&__item.-link,
		&__item.-drop > a
			&::after
				content ''
				position absolute
				left 0
				bottom 0
				width 100%
				border-bottom 0.125rem solid $blueglow
				transform scaleX(0)
				transition transform $fast ease-in

			&:hover,
			&:focus,
			&:focus-within
				&::after
					transform scaleX(1)

			&.-active
				&::after
					transform scaleX(1)
					border-bottom-color $blue

		&__divider
			height 1rem
			margin auto 1em
			border-left 1px solid $silver