// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

:root
    --sleek-handle-default-color lighten(#bbb5ac, 15%)
    --sleek-handle-sss-color lighten(#d95e5d, 15%)
    --sleek-handle-ss-color lighten(#fca643, 15%)
    --sleek-handle-s-color lighten(#fed348, 15%)
    --sleek-handle-a-color lighten(#fed348, 15%)
    --sleek-handle-b-color lighten(#82ee84, 15%)
    --sleek-handle-c-color lighten(#709fdc, 15%)
    --sleek-handle-e-color lighten(#ab85e0, 15%)

    --sleek-handle-default-background-color alpha(#bbb5ac, 0.05)
    --sleek-handle-sss-background-color alpha(#d95e5d, 0.05)
    --sleek-handle-ss-background-color alpha(#fca643, 0.05)
    --sleek-handle-s-background-color alpha(#fed348, 0.05)
    --sleek-handle-a-background-color alpha(#fed348, 0.05)
    --sleek-handle-b-background-color alpha(#82ee84, 0.05)
    --sleek-handle-c-background-color alpha(#709fdc, 0.05)
    --sleek-handle-e-background-color alpha(#ab85e0, 0.05)

    --sleek-handle-default-glow-background-color alpha(#bbb5ac, 0.1)
    --sleek-handle-sss-glow-background-color alpha(#d95e5d, 0.1)
    --sleek-handle-ss-glow-background-color alpha(#fca643, 0.1)
    --sleek-handle-s-glow-background-color alpha(#fed348, 0.1)
    --sleek-handle-a-glow-background-color alpha(#fed348, 0.1)
    --sleek-handle-b-glow-background-color alpha(#82ee84, 0.1)
    --sleek-handle-c-glow-background-color alpha(#709fdc, 0.1)
    --sleek-handle-e-glow-background-color alpha(#ab85e0, 0.1)
