// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

:root
    --sleek-handle-default-color darken(#555555, 15%)
    --sleek-handle-sss-color darken(#ca302f, 15%)
    --sleek-handle-ss-color darken(#e87e04, 15%)
    --sleek-handle-s-color darken(#fcc201, 25%)
    --sleek-handle-a-color darken(#fcc201, 25%)
    --sleek-handle-b-color darken(#138715, 15%)
    --sleek-handle-c-color darken(#304cc8, 15%)
    --sleek-handle-e-color darken(#4e2388, 15%)

    --sleek-handle-default-background-color alpha(#555555, 0.05)
    --sleek-handle-sss-background-color alpha(#ca302f, 0.05)
    --sleek-handle-ss-background-color alpha(#e87e04, 0.05)
    --sleek-handle-s-background-color alpha(#fcc201, 0.05)
    --sleek-handle-a-background-color alpha(#fcc201, 0.05)
    --sleek-handle-b-background-color alpha(#138715, 0.05)
    --sleek-handle-c-background-color alpha(#304cc8, 0.05)
    --sleek-handle-e-background-color alpha(#4e2388, 0.05)

    --sleek-handle-default-glow-background-color alpha(#555555, 0.1)
    --sleek-handle-sss-glow-background-color alpha(#ca302f, 0.1)
    --sleek-handle-ss-glow-background-color alpha(#e87e04, 0.1)
    --sleek-handle-s-glow-background-color alpha(#fcc201, 0.1)
    --sleek-handle-a-glow-background-color alpha(#fcc201, 0.1)
    --sleek-handle-b-glow-background-color alpha(#138715, 0.1)
    --sleek-handle-c-glow-background-color alpha(#304cc8, 0.1)
    --sleek-handle-e-glow-background-color alpha(#4e2388, 0.1)

.handle
    padding 0.25rem 0.5rem
    border-radius 0.25rem

.handle,
.handle:hover,
.handle:focus
    text-decoration none
    color var(--sleek-handle-default-color)
    
    for r in 'sss' 'ss' 's' 'a' 'b' 'c' 'e'
        &.-{r}
            color var('--sleek-handle-%s-color' % unquote(r))

.handle
    background-color var(--sleek-handle-default-background-color)

    for r in 'sss' 'ss' 's' 'a' 'b' 'c' 'e'
        &.-{r}
            background-color var('--sleek-handle-%s-background-color' % unquote(r))

a.handle:hover,
a.handle:focus
    background-color var(--sleek-handle-default-glow-background-color)
    
    for r in 'sss' 'ss' 's' 'a' 'b' 'c' 'e'
        &.-{r}
            background-color var('--sleek-handle-%s-glow-background-color' % unquote(r))

.handle.-gone
    &,
    &:hover,
    &:focus
        background-color transparent
        color $muted
        text-decoration line-through

.mention
    .at
        display none
    
    .handle:before
        content '@'
        color lighten($muted, 50%)

.handleset
    display flex
    flex-wrap wrap
    gap 0.25rem
