// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:math";
@use "sass:map";
@use "../../const";
@use "../../palette";
@use "../../responsive";

$modal-widths: (
    "sm": 480,
    "md": 660,
    "lg": 900,
    "xl": 1080,
    "xx": 1260,
);

:root {
    --sleek-modal-shadow-color: #{palette.$stone-400};
    --sleek-modal-curtain-color: #{rgba(palette.$stone-900, 0.25)};
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-color: var(--sleek-modal-curtain-color);
        transition: opacity const.$fast ease-in;
    }

    &.-open {
        &::before {
            opacity: 1;
        }

        &:not(.-closing) {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    &.-opening {
        display: block;
    }

    &.-closing {
        &::before {
            opacity: 0;
        }
    }

    &__dialog {
        position: relative;
        width: auto;
        margin: 0.5rem;
        border: 1px solid var(--sleek-surface-border-color);
        border-radius: 0.25rem;
        background-color: var(--sleek-surface-background-color);
        box-shadow: 0 0.5rem 1rem var(--sleek-modal-shadow-color);
    }

    &__head {
        padding: 1rem 1.25rem;

        &.-socle {
            border-bottom: 1px solid var(--sleek-surface-border-color);
            box-shadow: 0 0.25rem 0.125rem var(--sleek-shadow-color-0);

            .tabsbox {
                margin-top: 1rem;
                margin-bottom: -1rem;
            }
        }
    }

    &__cross {
        display: block;
        float: right;
        width: 2rem;
        height: 2rem;
        margin-right: -0.375rem;
        text-align: center;
    }

    &__body {
        padding: 1rem 1.25rem;
    }

    &__foot {
        padding: 1rem 1.25rem;

        &.-shade {
            border-radius: 0 0 0.25rem 0.25rem;
            background-color: var(--sleek-surface-shade-background-color);
        }
    }
}

@each $bk, $bv in responsive.$breakpoints {
    @media (min-width: #{$bv}px) {
        .modal__dialog.-#{$bk} {
            width: #{map.get($modal-widths, $bk)}px;
            margin: 2rem auto;
        }
    }
}

.modalroot.-block {
    overflow: hidden;
}
