// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "./const";
@use "./palette";

.avatar {
    display: inline-block;
    position: relative;

    img {
        background-color: palette.$stone-200;
        border-radius: 0.25rem;
    }

    &.-sm {
        width: 2.5rem;

        + .handle {
            margin-left: 0.5rem;
        }
    }

    &.-xs {
        width: 1.5rem;

        + .handle {
            margin-left: 0.5rem;
            vertical-align: middle;
        }
    }

    .emblem {
        position: absolute;
        right: -3px;
        bottom: -5px;
        width: 1.5rem;
        height: 1.125rem;
        margin: 0;
        transition:
            opacity const.$fast ease,
            transform const.$fast ease;
    }

    &:hover {
        .emblem {
            transform: translateY(0.5rem);
            opacity: 0;
        }
    }
}
