// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "./palette";

@mixin color($name, $code) {
    .bg-#{$name} {
        background-color: $code !important;
    }

    .font-#{$name} {
        color: $code !important;
    }
}

@include color("dark", var(--sleek-text-default-color));
@include color("blue", palette.$blue);
@include color("green", palette.$green);
@include color("red", palette.$red);
@include color("orange", palette.$orange);
@include color("white", white);

@each $c in "dark" "blue" "green" "red" "orange" {
    .border-#{$c} {
        border-color: var(--sleek-border-color-#{$c}) !important;
    }
}

.font-muted {
    color: var(--sleek-text-muted-color);
}
