// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "./const";
@use "./palette";

.form {
    &__group {
        margin-bottom: 0.5rem;
    }

    &__label {
        margin-bottom: 0.25rem;
    }

    &__field {
        display: block;
        width: 100%;
        padding: 0.25rem 0.5rem;
        border: 1px solid var(--sleek-field-border-color);
        border-radius: 0.25rem;
        background-color: var(--sleek-surface-background-color);
        color: var(--sleek-text-default-color);
        box-shadow: inset 0 0.125rem 0.125rem var(--sleek-shadow-color-0);
        transition:
            border-color const.$fast ease-in,
            box-shadow const.$fast ease-in;

        &:focus {
            border-color: var(--sleek-field-focus-border-color);
            outline: 0;
            box-shadow:
                inset 0 0.125rem 0.125rem var(--sleek-shadow-color-0),
                0 0 0 0.25rem var(--sleek-field-focus-glow-color);
        }
    }

    &__field[readonly],
    &__field[disabled] {
        background-color: var(--sleek-field-disabled-background-color);
        color: var(--sleek-field-disabled-color);
        box-shadow: inset 0 0.125rem 0.125rem var(--sleek-shadow-color-1);

        &:focus {
            border-color: var(--sleek-field-disabled-focus-border-color);
            box-shadow:
                inset 0 0.125rem 0.125rem var(--sleek-shadow-color-1),
                0 0 0 0.25rem var(--sleek-field-disabled-focus-glow-color);
        }
    }

    textarea.form__field {
        height: auto;
    }

    &__field.flatpickr-input[readonly] {
        background-color: var(--sleek-surface-background-color);
        color: var(--sleek-text-default-color);
    }

    &__brace {
        display: table;
        width: 100%;

        > .form__field {
            display: table-cell;
            width: 100%;
            vertical-align: middle;
        }

        .form__addon {
            display: table-cell;
            width: 0.1%;
            padding-right: 10px;
            vertical-align: middle;
        }
    }

    &__hint {
        margin-top: 5px;
        color: var(--sleek-text-muted-color);

        &.-green {
            color: palette.$green;
        }

        &.-orange {
            color: palette.$orange;
        }
    }
}

fieldset {
    margin: 0 -1.25rem 2rem;
    padding: 2rem 1.25rem 0;
    border-top: 1px solid var(--sleek-surface-border-color-subtle);

    &.-closed {
        .fieldset__head {
            margin-bottom: 0;
        }

        .form__group {
            display: none;
        }
    }

    &.-flags {
        .form__group {
            margin-bottom: 20px;
        }

        .switch {
            float: right;
            margin-top: 0.5em;
            margin-left: 30px;
        }
    }
}

.fieldset {
    &__head {
        margin-bottom: 15px;
    }

    &__toggle {
        float: right;
        margin-top: 0.5em;
        margin-left: 30px;
    }

    &__title {
        text-decoration: underline;
    }

    &__note {
        margin-top: 5px;
        color: var(--sleek-text-muted-color);
    }
}
