// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

.row {
    margin-right: -0.25rem;
    margin-left: -0.25rem;
}

.col-xs-,
.col-sm-,
.col-md-,
.col-lg- {
    &1,
    &2,
    &3,
    &4,
    &5,
    &6,
    &7,
    &8,
    &9,
    &10,
    &11,
    &12 {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
    }
}
