// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "./palette";

::placeholder {
    color: palette.$muted;
    opacity: 1;
}

label {
    font-weight: normal;
}

.hidden {
    display: none !important;
}

.dotted {
    border-bottom: 1px dotted palette.$dark;
    cursor: pointer;
}

.scroller {
    overflow-y: auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
