// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";

$sky-50: #f0f9ff;
$sky-100: #e0f2fe;
$sky-200: #bae6fd;
$sky-300: #7dd3fc;
$sky-400: #38bdf8;
$sky-500: #0ea5e9;
$sky-600: #0284c7;
$sky-700: #0369a1;
$sky-800: #075985;
$sky-900: #0c4a6e;
$sky-950: #082f49;

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;
$slate-950: #020617;

$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;
$gray-950: #030712;

$neutral-50: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;
$neutral-300: #d4d4d4;
$neutral-400: #a3a3a3;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #171717;
$neutral-950: #0a0a0a;

$stone-50: #fafaf9;
$stone-100: #f5f5f4;
$stone-200: #e7e5e4;
$stone-300: #d6d3d1;
$stone-400: #a8a29e;
$stone-500: #78716c;
$stone-600: #57534e;
$stone-700: #44403c;
$stone-800: #292524;
$stone-900: #1c1917;
$stone-950: #0c0a09;

$blue-50: #d1e8f7;
$blue-100: #c0dff4;
$blue-200: #9dcdee;
$blue-300: #7bbbe8;
$blue-400: #58aae2;
$blue-500: #3598dc; // Base
$blue-600: #207bb9;
$blue-700: #185b89;
$blue-800: #0f3b59;
$blue-900: #071b29;
$blue-950: #030c12;

$ebony-50: #bacad9;
$ebony-100: #acc0d2;
$ebony-200: #92acc4;
$ebony-300: #7798b6;
$ebony-400: #5d83a7;
$ebony-500: #4d6f8e;
$ebony-600: #3f5a74;
$ebony-700: #304659;
$ebony-800: #22313f; // Base
$ebony-900: #0e151b;
$ebony-950: #050608;

$silver-50: #f2f5f8;
$silver-100: #e7ecf1; // Base
$silver-200: #c7d3de;
$silver-300: #a7b9cb;
$silver-400: #86a0b9;
$silver-500: #6686a6;
$silver-600: #506d89;
$silver-700: #3d5369;
$silver-800: #2a3a49;
$silver-900: #182028;
$silver-950: #0e1318;

$dark: $stone-950;
$ebony: $ebony-800;
$blue: $blue-500;
$green: #15803d; // green-700
$red: #f43f5e; // red-500
$orange: #ea580c; // orange-600
$silver: $silver-100;

$muted: $stone-600;

$logo-colors: (
    "blue": $blue-500,
    "ebony": $ebony-800,
    "silver": $silver-100,
);
