// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "./palette";

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    background-color: var(--sleek-progress-background-color);

    &__bar {
        width: 0;
        height: 100%;
        line-height: 1rem;
    }
}
