// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

body,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
}

th {
    text-align: left;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    &[disabled] {
        cursor: default;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    &[type="search"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    &[type="file"] {
        display: block;
    }
}

select {
    text-transform: none;

    &[multiple] {
        height: auto;
    }
}
