// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "./const";
@use "./palette";

.table {
    width: 100%;
    max-width: 100%;
    border: none;

    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td {
        padding: 0.5rem;
    }

    > thead > tr > th {
        font-weight: 500;

        .text + .icon {
            margin-left: 0.25rem;
        }
    }

    > thead:first-child > tr:first-child > th,
    > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

    > thead > tr:not(:first-child),
    > tbody > tr,
    > tbody + tbody {
        border-top: 1px solid var(--sleek-table-border-color);
    }

    > tbody > tr:last-child {
        border-bottom: 1px solid var(--sleek-table-border-color);
    }

    > thead > tr > td.active,
    > tbody > tr > td.active,
    > tfoot > tr > td.active,
    > thead > tr > th.active,
    > tbody > tr > th.active,
    > tfoot > tr > th.active,
    > thead > tr.active > td,
    > tbody > tr.active > td,
    > tfoot > tr.active > td,
    > thead > tr.active > th,
    > tbody > tr.active > th,
    > tfoot > tr.active > th {
        background-color: var(--sleek-surface-shade-background-color);
    }
}

.table.-emphasis > tbody tr:hover,
.table.-emphasis > tbody tr:hover + tr {
    border-top-color: var(--sleek-table-row-hover-border-color);
}

.table.-emphasis > tbody tr:last-child:hover {
    border-bottom-color: var(--sleek-table-row-hover-border-color);
}

.tablebox {
    min-height: 0.01%;
    margin-bottom: 20px;
    overflow-x: auto;

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        border: 1px solid var(--sleek-table-border-color);
    }

    @media screen and (min-width: 768px) {
        > table {
            tr > :first-child {
                padding-left: 0;
            }

            tr > :last-child {
                padding-right: 0;
            }
        }
    }
}

:not(.tablebox) > table {
    tr > :first-child {
        padding-left: 0;
    }

    tr > :last-child {
        padding-right: 0;
    }
}
