// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "../../palette";

.pagination {
    display: flex;
    gap: 0.125rem;
    justify-content: center;

    &__item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 2rem;
        min-height: 2rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: var(--sleek-button-blue-faint-background-color);
            text-decoration: none;
        }

        &.-active {
            background-color: var(--sleek-button-blue-background-color);
            color: var(--sleek-button-blue-color);
        }
    }
}

@media (max-width: 767px) {
    .pagination {
        &__item.-extra {
            display: none;
        }
    }
}
