// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "../../palette";

.pagination {
    display: flex;
    gap: 0.125rem;
    justify-content: center;

    &__item {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: rgba(palette.$blue, 0.125);
            text-decoration: none;
        }

        &.-active {
            background-color: palette.$blue;
            color: white;
        }
    }
}

@media (max-width: 767px) {
    .pagination {
        &__item.-extra {
            display: none;
        }
    }
}
