// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@require '../../func'
@require '../../palette'

.pagination
	display flex
	gap 0.125rem
	justify-content center
	
	&__item
		padding 0.25rem 0.5rem
		border-radius 0.25rem
		text-decoration none
		
		&:hover,
		&:focus
			background-color alpha($blue, 0.125)
			text-decoration none

		&.-active
			background-color $blue
			color white

@media (max-width: 767px)
	.pagination
		&__item.-extra
			display none
