// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@require '../../func'
@require '../../palette'

.breadcrumb
	display flex
	gap 0.5rem
	flex-wrap wrap
	margin -0.5rem 0 1rem
	padding 0
	list-style none

	> li
		overflow hidden
		max-width 12rem
		min-width 0
		white-space nowrap
		text-overflow ellipsis
		color $muted

		&:last-child
			max-width 16rem
			
		&:not(:first-child)::before
			content '\203A'
			margin-right 0.5rem
			color $dark700
