// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "../../const";
@use "../../palette";

:root {
    --sleek-arena-body-background-color: #{palette.$gray-900};

    --sleek-arena-pmenu-item-hover-background-color: #{color.scale(
            palette.$dark,
            $lightness: 5%
        )};
}

body {
    background-color: var(--sleek-arena-body-background-color);

    &.-staging {
        border-top: 0.25rem solid transparent;
        border-image: repeating-linear-gradient(
                90deg,
                #fef08a,
                #fef08a 1rem,
                palette.$dark 1rem,
                palette.$dark 2rem
            )
            1;
    }
}

.phead {
    &__logo {
        float: left;
        padding: 1rem 0;
    }
}

.pmenu {
    float: right;
    display: flex;
    margin: 1rem 0;

    &__item {
        position: relative;
        display: block;

        &.-user {
            margin-left: 0.5rem;

            img {
                border-radius: 0.25rem;
            }
        }

        &.-link,
        &.-drop > a {
            border-radius: 0.25rem;
            text-decoration: none;
            transition: background-color const.$fast ease-in;
        }

        &:hover,
        &:focus,
        &.-open {
            text-decoration: none;
            background-color: var(
                --sleek-arena-pmenu-item-hover-background-color
            );
        }

        &.-link,
        &.-drop > a {
            > img,
            .dropdown__toggle img {
                display: block;
                opacity: 0.35;
                transition: opacity const.$fast ease-in;
            }

            &:hover,
            &:focus,
            &.-open {
                > img,
                .dropdown__toggle img {
                    opacity: 0.5;
                }
            }
        }

        &.-link {
            padding: 8px;
            line-height: 24px;
        }

        &.-drop > a {
            display: block;
            padding: 8px;
        }

        .label {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 0.5rem;
            background-color: rgba(palette.$red, 75%);
            color: white;
        }
    }

    &__divider {
        position: relative;
        float: left;
        display: block;
        height: 40px;
        margin: 0.75rem;
        border-right: 1px solid var(--sleek-divider-border-color);
        height: 1rem;
    }
}

.pside {
    width: auto;
    padding-bottom: 20px;
    color: white;

    &__timer {
        margin: 22px 18px 11px;

        .progress {
            height: 0.25rem;
            border-bottom: 1px solid white;
            border-radius: 0;
            background-color: transparent;

            .progress__bar {
                background-color: white;
            }
        }
    }

    &__link {
        display: block;
        position: relative;
        padding: 0.5rem 1rem;
        text-decoration: none;
        background-color: transparent;
        color: white;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-left: 0.25rem solid rgba(white, 50%);
            transform: scaleY(0);
            transition: transform const.$fast ease-in;
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: white;

            &::after {
                transform: scaleY(1);
            }
        }

        &.-disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &.-active {
            &::after {
                transform: scaleY(1);
                border-left-color: white;
            }
        }

        .icon {
            margin: -0.125rem 0.25rem 0 0;
        }

        .label {
            padding: 0 0.5rem;
            color: white;
        }
    }
}

.pfoot {
    padding: 10px 0;
    text-align: center;
    color: palette.$stone-200;

    a {
        color: palette.$stone-200;

        &:hover,
        &:focus {
            color: color.scale(palette.$stone-200, $lightness: 20%);
        }
    }
}

#content {
    min-height: 100vh;
    margin-left: 0;
    padding-top: 1rem;
    border-radius: 0;
    background-color: var(--sleek-body-background-color);
}

@media (max-width: 991px) {
    .pside {
        display: none;
        overflow-y: hidden;

        &.-open {
            display: block;
        }
    }
}

@media (min-width: 992px) {
    .pmenu__item.-bars {
        display: none;
    }

    .pside {
        float: left;
        width: 275px;
        padding-bottom: 75px;
    }

    .pfoot {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 275px;
        background-color: var(--sleek-arena-body-background-color);
    }

    #content {
        margin-left: 275px;
        border-radius: 0.25rem 0 0 0;
    }
}
