// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@require '../../palette'

.flair
	display flex
	flex-wrap wrap
	gap 0.25em 1rem
	
	&__item
		display flex
		align-items center

		&.-hover
			display none
	
	&.-inline
		flex-wrap nowrap
		margin-top 0

	.icon + .text
		margin-left 0.5rem

	.icon
		display block
		text-decoration none

		+ .text
			margin-left 5px
	
	&:empty
		display none

// Other Contexts

tr:hover .flair > .flair__item.-hover
	display inline-block
