// Copyright 2021 Furqan Software Ltd. All rights reserved.

@require '../../base/const'
@require '../../base/palette'

.tabs
	display flex

	&__item
		flex 0 0 auto
		border-bottom 2px solid transparent
		color $muted
		transition border-bottom-color $fast ease-in
		text-decoration none
		
		&:not(.-drop),
		&.-drop > .dropdown__toggle
			padding 0.5rem 1rem
		
		&.-drop > .dropdown__toggle
			display block

		&:focus,
		&:hover
			border-bottom-color $blueglow
			color $muted
			text-decoration none

		> .badge
			float right
			margin-left 0.5rem
			color $muted

		&.-active
			border-bottom-color $blue
			color $dark
		
		&.-disabled
			color $muted
			cursor default
			opacity 0.75

		> .icon + .text
			margin-left 0.5rem
	
		img.icon
			margin-top -2px

			+ .text
				margin-left 5px
		
		+ .tabs__item
			margin-left 2px

	&__divider
		float left
		height 1em
		margin 1em
		border-right 1px solid $silver

@media (max-width: 991px)
	.tabs
		> :not(.-active):not(.-navsm)
			display none
