// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "../../../const";
@use "../../../palette";

.pblip {
    margin: -1.5rem 0 1.5rem;
    padding: 5rem 0;
    background-color: var(--sleek-body-background-color);

    &__head {
        margin-bottom: 4.5rem;
        text-align: center;
    }

    &__stroke {
        width: 3rem;
        height: 0.125rem;
        margin: 1.5rem auto 0;
        background-color: var(--sleek-text-default-color);
    }

    &__foot {
        margin-top: 3rem;
        text-align: center;
    }

    &__note {
        font-size: 1.25rem;
    }

    &__actions {
        margin-top: 2rem;
    }

    &__tail {
        position: relative;
        z-index: 1;
        margin: 5rem 0 -10rem;
        text-align: center;
    }

    &.-cover {
        position: relative;
        padding: 0;
        border-bottom: 1px solid var(--sleek-surface-border-color);
        background-color: var(--sleek-surface-background-color);
        box-shadow: 0 0.0625rem 0.125rem var(--sleek-shadow-color-1);

        .pblip__wrap {
            position: relative;
            max-width: 1400px;
            margin: 0 auto;
        }

        .pblip__foot {
            position: absolute;
            right: 0;
            bottom: 1rem;
            left: 0;
            transition:
                bottom const.$fast ease-in,
                opacity const.$fast ease-in;
            transition-delay: const.$fast;
        }

        &:not(.-empty):has(.pblip__wrap:hover) .pblip__foot:not(:hover) {
            opacity: 0.25;
        }

        .flair__item {
            padding: 0.5rem 1rem;
            border: 1px solid var(--sleek-surface-border-color);
            border-radius: 0.25rem;
            background-color: var(--sleek-surface-background-color);
            backdrop-filter: blur(0.5rem);
        }

        + .pblip {
            margin-top: -5.75rem;
            transition: margin-top const.$fast ease-in;
            transition-delay: const.$fast;
        }
    }

    &.-hero {
        border-bottom: 1px solid var(--sleek-surface-border-color);
        background-color: var(--sleek-surface-background-color);
        box-shadow: 0 0.0625rem 0.125rem var(--sleek-shadow-color-1);

        .pblip__head h2 {
            color: palette.$blue;
        }

        .pblip__stroke {
            background-color: var(--sleek-text-default-color);
        }
    }

    &.-blue {
        background-color: palette.$blue;
        color: white;

        .pblip__head h2 {
            color: white;
        }

        .pblip__stroke {
            background-color: white;
        }

        .pblip__tail {
            color: var(--sleek-text-default-color);
        }
    }

    &.-ebony {
        background-color: palette.$ebony;
        color: white;

        .pblip__stroke {
            background-color: white;
        }
    }

    &.-float {
        position: relative;
        margin-top: -10rem;
        background-color: transparent;
    }
}

@media (min-width: 992px) {
    .pblip.-cover {
        &:not(.-empty) {
            .pblip__foot {
                bottom: 7.5rem;
            }

            + .pblip {
                margin-top: -13.062rem;
            }

            &:has(.pblip__wrap:hover) {
                .pblip__foot {
                    bottom: 1rem;
                }

                + .pblip {
                    margin-top: -5.75rem;
                }
            }
        }

        &.-empty {
            .pblip__foot {
                bottom: 2.5rem;
            }

            + .pblip {
                margin-top: -8.0625rem;
            }
        }
    }
}
