// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "../../../const";
@use "../../../palette";

:root {
    --sleek-pnav-menu-item-hover-background-color: #{palette.$slate-100};
}

.pnav {
    display: none;

    &.-open {
        display: block;
    }

    &__group {
        display: flex;
    }

    &__search {
        position: relative;

        input {
            width: 100%;
            margin: 0;
            padding: 1rem 0.25rem 1rem 2rem;
            border: none;
            background-color: var(--sleek-surface-background-color);
            color: var(--sleek-text-default-color);

            &:focus {
                outline: none;
            }
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 0.25rem;
            margin-top: -0.5rem;
            line-height: inherit;
            opacity: 0.75;
        }
    }

    &__item {
        color: var(--sleek-text-default-color);

        &.-link,
        &.-drop > a {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
                background-color: transparent;
                color: var(--sleek-text-default-color);
            }
        }

        &.-more {
            &,
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        .icon {
            margin-top: 0.25rem;
        }
    }
}

@media (max-width: 991px) {
    .pnav {
        position: absolute;
        top: 72px;
        right: 0;
        left: 0;
        z-index: 1000;
        border-bottom: 1px solid var(--sleek-surface-border-color);
        background-color: var(--sleek-surface-background-color);
        box-shadow: 0 0.0625rem 0.125rem var(--sleek-shadow-color-1);

        &__group {
            flex-direction: column;
        }

        &__search {
            margin: 1rem 0.75rem;
        }

        &__item.-link,
        &__item.-drop > a,
        &__menu > a {
            display: block;
            padding: 0.5rem 1rem;

            &.-active {
                border-left: 0.25rem solid palette.$blue;
                padding-left: 0.75rem;
            }
        }

        &__item.-drop {
            .pnav__menu {
                display: none;
            }

            &.-open .pnav__menu {
                display: block;
            }
        }

        &__divider {
            height: 1rem;
        }
    }
}

@media (min-width: 992px) {
    .pnav {
        display: block;
        flex-grow: 1;
        margin: 0 2rem;

        &__search {
            float: right;
            width: 11rem;
            transition: width 0.125s ease-in-out;

            input {
                line-height: 2.5rem;
            }

            &:focus-within {
                width: 17rem;
            }
        }

        &__item {
            &.-link,
            &.-drop > a {
                position: relative;
                line-height: 2.5rem;
                padding: 1rem;
            }

            &.-drop {
                position: relative;

                > a {
                    display: inline-block;
                }

                .pnav__menu {
                    display: none;
                    float: left;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                    min-width: 150px;
                    min-width: max-content;
                    margin: 5px 0 0;
                    padding: 0.25rem;
                    border: 1px solid var(--sleek-surface-border-color);
                    border-radius: 0.25rem;
                    overflow: hidden;
                    text-align: left;
                    background-color: var(--sleek-surface-background-color);
                    box-shadow: 0 3px 0 rgba(palette.$dark, 0.05);

                    > a {
                        display: block;
                        padding: 0.5rem 1rem;
                        border-radius: 0.25rem;
                        color: var(--color-text-default);
                        transition: background-color const.$fast ease-in;

                        &:hover,
                        &:focus,
                        &:active {
                            background-color: var(
                                --sleek-pnav-menu-item-hover-background-color
                            );
                        }
                    }
                }

                &.-open .pnav__menu {
                    display: block;
                }
            }

            &.-open .pnav__menu {
                display: block;
            }
        }

        &__search,
        &__item.-link,
        &__item.-drop > a {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                border-bottom: 0.125rem solid palette.$blue-glow;
                transform: scaleX(0);
                transition: transform const.$fast ease-in;
            }

            &:hover,
            &:focus,
            &:focus-within {
                &::after {
                    transform: scaleX(1);
                }
            }

            &.-active {
                &::after {
                    transform: scaleX(1);
                    border-bottom-color: palette.$blue;
                }
            }
        }

        &__divider {
            height: 1rem;
            margin: auto 1em;
            border-left: 1px solid var(--sleek-divider-border-color);
        }
    }
}
