// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "../../palette";

:root {
    --sleek-dropdown-item-hover-background-color: #{palette.$slate-900};
    --sleek-dropdown-divider-border-color: #{palette.$slate-900};
}
