// Copyright 2021 Furqan Software Ltd. All rights reserved.

@require '../../base/const'
@require '../../base/palette'

.strips
	margin -10px -20px -20px
	border-top 1px solid lighten($silver, 75%)

	&__item
		display block
		position relative
		padding 10px 20px
		border-bottom 1px solid lighten($silver, 75%)
		text-decoration none
		transition background-color $fast ease-in
		
		&:focus,
		&:hover
			text-decoration none
			box-shadow inset 10px 0 0 -5px alpha($blue, 50%)

		&:last-child
			border-bottom none

		&.-active
			box-shadow inset 10px 0 0 -5px $blue
			color $dark

			&:last-child
				border-radius 0 0 0 0.25rem

		&.-disabled
			color $muted
			background-color transparent
			cursor default
			opacity 0.75

@media (max-width: 991px)
	.strips
		> :not(.-active),
		.badge
			display none

	.stripsbox
		display inline-block
		margin-bottom 0.5em

		> .panel
			display none
