// Copyright 2020 Furqan Software Ltd. All rights reserved.

@require '../../const'
@require '../../func'
@require '../../palette'

body
	display flex
	flex-direction column
	min-height 100vh
	background-color lighten(mix($blue, $silver, 10%), 82.5%)

.phead
	margin-bottom 1.5rem
	border-bottom 1px solid lighten($silver, 75%)
	background white
	
	&__body
		display flex
		align-items center

	&__logo
		float left
		padding 1rem 0
	
	&.-shade
		border-bottom 1px solid $silver
		box-shadow 0 0.0625rem 0.125rem $shadow1

.pmenu
	display flex
	margin-left auto

	&__item
		position relative
		display block
	
		&.-user
			margin-left 0.5rem

			img
				border-radius 0.25rem

		&.-link,
		&.-drop > a
			border-radius 0.25rem
			text-decoration none
			transition background-color $fast ease-in

			&:hover,
			&:focus,
			&.-open
				text-decoration none
				background-color $silverglow

		&.-link,
		&.-drop > a
			> img,
			.dropdown__toggle img
				display block
				opacity 0.35
				transition opacity $fast ease-in

			&:hover,
			&:focus,
			&.-open
				> img,
				.dropdown__toggle img
					opacity 0.5

		&.-link
			padding 8px
			line-height 24px
		
		&.-drop > a
			display block
			padding 8px
		
		.badge
			position absolute
			bottom 0
			right 0
			background-color alpha($red, 75%)
			color white

	&__divider
		position relative
		float left
		display block
		height 40px
		margin 0.75rem
		border-right 1px solid $silver
		height 1rem

.pfoot
	margin-top auto
	padding 1rem 0
	border-top 1px solid $silver
	color $muted

	a
		color $muted

		&:hover,
		&:focus
			color darken($muted, 20%)

	&__logo
		margin 0.5rem 0 1.5rem

	&__nav
		float right
		width 40%
		margin 0.5rem 0
		text-align center

		ul
			list-style none
			margin-bottom 0
			padding-left 0

			li
				padding 0.75rem 0

	&__legal
		float right

		a
			margin-left 1rem

			&:first-child
				margin-left 0

@media (min-width: 992px)
	.pmenu__item.-bars
		display none

@media (max-width: 767px)
	.pfoot
		text-align center

		&__rights
			margin-top 0.5rem

		&__nav
			float none
			width auto
			margin-bottom 1.5rem

		&__legal
			float none

// Discourse

d-topics-list iframe
	width 100%
	height 480px
