// Copyright 2021 Furqan Software Ltd. All rights reserved.

@require '../../base/color'

.pills
	padding-left 0
	list-style none
	
	&__item
		display block
		float left
		position relative
		padding 10px 15px
		border-radius 3px
		transition background-color 0.25s ease-in-out
		
		&:focus,
		&:hover
			background-color alpha($blue, 10%)

		&:active
			background-color alpha($blue, 25%)
			
		> .badge
			float right
			margin-left 10px
			color $muted

		&:focus,
		&:hover,
		&:active
			> .badge
				background-color alpha(white, 25%)
		
		&.-active
			color white
			background-color $blue
			
			.badge
				background-color alpha(white, 12.5%)
				color white
		
		&.-disabled
			color $muted
			background-color transparent
			cursor default
			opacity 0.75

		> .icon + .text
			margin-left 10px
	
		img.icon
			margin-top -2px

			+ .text
				margin-left 5px
		
		+ .pills__item
			margin-left 2px

	&__divider
		float left
		height 1em
		margin 1em
		border-right 1px solid $silver

	&.-stacked
		> .pills__item
			float none
			
			+ .pills__item
				margin-top 2px
				margin-left 0

@media (max-width: 991px)
	.pills
		> :not(.-active),
		.badge
			display none
