// Copyright 2021 Furqan Software Ltd. All rights reserved.

@require '../../base/color'

.pills
	padding-left 0
	list-style none

	> li
		display block
		position relative
		float left
			
		> a
			display block
			position relative
			padding 10px 15px
			border-radius 3px
			transition background-color 0.25s ease-in-out

			&:focus,
			&:hover
				background-color alpha($blue, 10%)

			&:active
				background-color alpha($blue, 25%)
				
			> .badge
				float right
				margin-top -1px
				margin-left 10px
				color $muted

			&:focus,
			&:hover,
			&:active
				> .badge
					background-color alpha(white, 25%)

			> .icon + .text
				margin-left 10px
		
			img.icon
				margin-top -2px

				+ .text
					margin-left 5px

		+ li
			margin-left 2px
	
		&.-active
			> a,
			> a:hover
			> a:focus
				color white
				background-color $blue
				
				.badge
					background-color alpha(white, 12.5%)
					color white
		
		&.-disabled
			> a,
			> a:hover
			> a:focus
				color $muted
				background-color transparent
				cursor not-allowed
				opacity 0.75

	&.-stacked
		> li
			float none
			
			+ li
				margin-top 2px
				margin-left 0

@media (max-width: 991px)
	.pills
		> li.active > a
			padding 7px 13px

		> li:not(.-active),
		.badge
			display none

	.portlet.-pills
		display none
