// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@require '../../func'
@require '../../palette'

.phead
	position fixed
	top 0
	right 0
	left 0
	z-index 10
	padding 20px
	background var(--sleek-surface-background-color)

	.phead__logo
		float right
		
	.phead__orglogo
		float left
		margin 0 20px 0 0
		padding-right 20px
		border-right 1px solid var(--sleek-divider-border-color)
