// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "../../palette";

:root {
    --sleek-highlight-background-color: #272822;
}

.highlight {
    margin-bottom: 1rem;
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
    overflow: auto;
    background-color: var(--sleek-highlight-background-color);

    pre {
        display: block;
        margin: 0;
        padding: 0.25rem 0.5rem;
        line-height: 1.375rem;
    }

    table td:first-child pre {
        padding: 0.25rem 0 0.25rem 0.25rem;
    }
}
