// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "../../palette";

:root {
    --sleek-handle-default-color: #{palette.$zinc-700};
    --sleek-handle-sss-color: #{palette.$rose-700};
    --sleek-handle-ss-color: #{palette.$amber-700};
    --sleek-handle-s-color: #{palette.$yellow-700};
    --sleek-handle-a-color: #{palette.$yellow-700};
    --sleek-handle-b-color: #{palette.$lime-700};
    --sleek-handle-c-color: #{palette.$sky-700};
    --sleek-handle-e-color: #{palette.$violet-700};

    --sleek-handle-default-background-color: #{palette.$zinc-50};
    --sleek-handle-sss-background-color: #{palette.$rose-50};
    --sleek-handle-ss-background-color: #{palette.$amber-50};
    --sleek-handle-s-background-color: #{palette.$yellow-50};
    --sleek-handle-a-background-color: #{palette.$yellow-50};
    --sleek-handle-b-background-color: #{palette.$lime-50};
    --sleek-handle-c-background-color: #{palette.$sky-50};
    --sleek-handle-e-background-color: #{palette.$violet-50};

    --sleek-handle-default-hover-color: #{palette.$zinc-800};
    --sleek-handle-sss-hover-color: #{palette.$rose-800};
    --sleek-handle-ss-hover-color: #{palette.$amber-800};
    --sleek-handle-s-hover-color: #{palette.$yellow-800};
    --sleek-handle-a-hover-color: #{palette.$yellow-800};
    --sleek-handle-b-hover-color: #{palette.$lime-800};
    --sleek-handle-c-hover-color: #{palette.$sky-800};
    --sleek-handle-e-hover-color: #{palette.$violet-800};

    --sleek-handle-default-hover-background-color: #{palette.$zinc-100};
    --sleek-handle-sss-hover-background-color: #{palette.$rose-100};
    --sleek-handle-ss-hover-background-color: #{palette.$amber-100};
    --sleek-handle-s-hover-background-color: #{palette.$yellow-100};
    --sleek-handle-a-hover-background-color: #{palette.$yellow-100};
    --sleek-handle-b-hover-background-color: #{palette.$lime-100};
    --sleek-handle-c-hover-background-color: #{palette.$sky-100};
    --sleek-handle-e-hover-background-color: #{palette.$violet-100};
}

$ranks: "sss", "ss", "s", "a", "b", "c", "e";

.handle {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--sleek-handle-default-background-color);
}

.handle,
.handle:hover,
.handle:focus {
    text-decoration: none;
    color: var(--sleek-handle-default-color);

    @each $r in $ranks {
        &.-#{$r} {
            color: var(--sleek-handle-#{$r}-color);
        }
    }
}

.handle {
    @each $r in $ranks {
        &.-#{$r} {
            background-color: var(--sleek-handle-#{$r}-background-color);
        }
    }
}

a.handle:hover,
a.handle:focus {
    background-color: var(--sleek-handle-default-hover-background-color);
    color: var(--sleek-handle-default-hover-color);

    @each $r in $ranks {
        &.-#{$r} {
            background-color: var(--sleek-handle-#{$r}-hover-background-color);
            color: var(--sleek-handle-#{$r}-hover-color);
        }
    }
}

.handle.-gone {
    &,
    &:hover,
    &:focus {
        background-color: transparent;
        color: var(--sleek-text-muted-color);
        text-decoration: line-through;
    }
}

.mention {
    .at {
        display: none;
    }

    .handle:before {
        content: "@";
        color: var(--sleek-text-muted-color);
    }
}

.handleset {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}
