// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "../../palette";

$handle-default: #52525b; // zinc-600
$handle-sss: #be123c; // rose-700
$handle-ss: #d97706; // amber-600
$handle-s: #eab308; // yellow-500
$handle-a: #eab308; // yellow-500
$handle-b: #4d7c0f; // lime-700
$handle-c: #075985; // sky-800
$handle-e: #4c1d95; // violet-900

:root {
    --sleek-handle-default-color: #{color.scale(
            $handle-default,
            $lightness: -15%
        )};
    --sleek-handle-sss-color: #{color.scale($handle-sss, $lightness: -15%)};
    --sleek-handle-ss-color: #{color.scale($handle-ss, $lightness: -15%)};
    --sleek-handle-s-color: #{color.scale($handle-s, $lightness: -25%)};
    --sleek-handle-a-color: #{color.scale($handle-a, $lightness: -25%)};
    --sleek-handle-b-color: #{color.scale($handle-b, $lightness: -15%)};
    --sleek-handle-c-color: #{color.scale($handle-c, $lightness: -15%)};
    --sleek-handle-e-color: #{color.scale($handle-e, $lightness: -15%)};

    --sleek-handle-default-background-color: #{rgba($handle-default, 0.05)};
    --sleek-handle-sss-background-color: #{rgba($handle-sss, 0.05)};
    --sleek-handle-ss-background-color: #{rgba($handle-ss, 0.05)};
    --sleek-handle-s-background-color: #{rgba($handle-s, 0.05)};
    --sleek-handle-a-background-color: #{rgba($handle-a, 0.05)};
    --sleek-handle-b-background-color: #{rgba($handle-b, 0.05)};
    --sleek-handle-c-background-color: #{rgba($handle-c, 0.05)};
    --sleek-handle-e-background-color: #{rgba($handle-e, 0.05)};

    --sleek-handle-default-glow-background-color: #{rgba($handle-default, 0.1)};
    --sleek-handle-sss-glow-background-color: #{rgba($handle-sss, 0.1)};
    --sleek-handle-ss-glow-background-color: #{rgba($handle-ss, 0.1)};
    --sleek-handle-s-glow-background-color: #{rgba($handle-s, 0.1)};
    --sleek-handle-a-glow-background-color: #{rgba($handle-a, 0.1)};
    --sleek-handle-b-glow-background-color: #{rgba($handle-b, 0.1)};
    --sleek-handle-c-glow-background-color: #{rgba($handle-c, 0.1)};
    --sleek-handle-e-glow-background-color: #{rgba($handle-e, 0.1)};
}

$ranks: "sss", "ss", "s", "a", "b", "c", "e";

.handle {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--sleek-handle-default-background-color);
}

.handle,
.handle:hover,
.handle:focus {
    text-decoration: none;
    color: var(--sleek-handle-default-color);

    @each $r in $ranks {
        &.-#{$r} {
            color: var(--sleek-handle-#{$r}-color);
        }
    }
}

.handle {
    @each $r in $ranks {
        &.-#{$r} {
            background-color: var(--sleek-handle-#{$r}-background-color);
        }
    }
}

a.handle:hover,
a.handle:focus {
    background-color: var(--sleek-handle-default-glow-background-color);

    @each $r in $ranks {
        &.-#{$r} {
            background-color: var(--sleek-handle-#{$r}-glow-background-color);
        }
    }
}

.handle.-gone {
    &,
    &:hover,
    &:focus {
        background-color: transparent;
        color: palette.$muted;
        text-decoration: line-through;
    }
}

.mention {
    .at {
        display: none;
    }

    .handle:before {
        content: "@";
        color: color.scale(palette.$muted, $lightness: 50%);
    }
}

.handleset {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}
