// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@use "../../palette";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--sleek-body-background-color);

    &.-staging {
        border-top: 0.25rem solid transparent;
        border-image: repeating-linear-gradient(
                90deg,
                #fef08a,
                #fef08a 1rem,
                palette.$dark 1rem,
                palette.$dark 2rem
            )
            1;
    }
}

.phead {
    margin: 2rem 0;
    text-align: center;
}

.pfoot {
    margin: 0.5rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    body {
        padding: 2rem 0;
    }
}

.panel {
    &.-space &__body {
        padding: 2rem;
    }
}
