// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@require '../../const'
@require '../../func'
@require '../../palette'

:root
	--sleek-arena-body-background-color $dark

	--sleek-arena-pmenu-item-hover-background-color lighten($dark, 5%)

body
	background-color var(--sleek-arena-body-background-color)

	&.-staging
		border-top 0.25rem solid transparent
		border-image repeating-linear-gradient(90deg, #fef08a, #fef08a 1rem, $dark 1rem, $dark 2rem) 1

.phead
	&__logo
		float left
		padding 15px 0

.pmenu
	float right
	display flex
	margin 1rem 0

	&__item
		position relative
		display block

		&.-user
			margin-left 0.5rem

			img
				border-radius 0.25rem

		&.-link,
		&.-drop > a
			border-radius 0.25rem
			text-decoration none
			transition background-color $fast ease-in

			&:hover,
			&:focus,
			&.-open
				text-decoration none
				background-color var(--sleek-arena-pmenu-item-hover-background-color)

		&.-link,
		&.-drop > a
			> img,
			.dropdown__toggle img
				display block
				opacity 0.35
				transition opacity $fast ease-in

			&:hover,
			&:focus,
			&.-open
				> img,
				.dropdown__toggle img
					opacity 0.5

		&.-link
			padding 8px
			line-height 24px

		&.-drop > a
			display block
			padding 8px

		.badge
			position absolute
			bottom 0
			right 0
			background-color alpha($red, 75%)
			color white

	&__divider
		position relative
		float left
		display block
		height 40px
		margin 0.75rem
		border-right 1px solid var(--sleek-divider-border-color)
		height 1rem

.pside
	width auto
	padding-bottom 20px
	color white

	&__timer
		margin 22px 18px 11px

		.progress
			height 5px
			border-bottom 1px solid white
			border-radius 0

			.progress__bar
				background-color white

	&__link
		display block
		position relative
		padding 0.5rem 1rem
		text-decoration none
		background-color transparent
		color white

		&::after
			content ''
			position absolute
			top 0
			left 0
			height 100%
			border-left 5px solid alpha(white, 50%)
			transform scaleY(0)
			transition transform $fast ease-in

		&:hover,
		&:focus
			text-decoration none
			color white

			&::after
				transform scaleY(1)

		&.-disabled
			opacity 0.5
			cursor not-allowed

		&.-active
			&::after
				transform scaleY(1)
				border-left-color white

		.icon
			margin -2px 5px 0 0

.pfoot
	padding 10px 0
	text-align center
	color $silver

	a
		color $silver

		&:hover,
		&:focus
			color lighten($silver, 20%)

#content
	min-height 100vh
	margin-left 0
	padding-top 15px
	border-radius 0
	background-color var(--sleek-body-background-color)

@media (max-width: 991px)
	.pside
		display none
		overflow-y hidden

		&.-open
			display block

@media (min-width: 992px)
	.pmenu__item.-bars
		display none

	.pside
		float left
		width 275px
		padding-bottom 75px

	.pfoot
		position fixed
		bottom 0
		left 0
		width 275px
		background-color var(--sleek-arena-body-background-color)

	#content
		margin-left 275px
		border-radius 0.25rem 0 0 0
