// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@require '../palette'

:root
    --sleek-body-background-color lighten(mix($blue, $silver, 10%), 82.5%)

    --sleek-surface-background-color white
    --sleek-surface-shade-background-color lighten($silver, 50%)
    --sleek-surface-border-color $silver
    --sleek-surface-border-color-subtle lighten($silver, 50%)
    --sleek-surface-highlight-border-color $blue

    --sleek-field-background-color white
    --sleek-field-border-color $dark500
    --sleek-field-focus-border-color alpha($blue, 75%)
    --sleek-field-disabled-background-color lighten($silver, 50%)
    --sleek-field-disabled-color alpha($dark, 0.75)
    --sleek-field-disabled-focus-border-color lighten($silver, 50%)

    --sleek-button-default-background-color $silver
    --sleek-button-default-border-color darken($silver, 20%)
    --sleek-button-default-color $dark
    --sleek-button-icon-default-filter invert(18%) sepia(3%) saturate(2176%) hue-rotate(169deg) brightness(88%) contrast(88%)
    --sleek-button-default-hover-border-color darken($silver, 30%)
    --sleek-button-default-hover-color $dark
    --sleek-button-default-hover-shadow-color darken($silver, 15%)
    --sleek-button-icon-default-hover-filter invert(18%) sepia(3%) saturate(2176%) hue-rotate(169deg) brightness(88%) contrast(88%)
    --sleek-button-default-focus-shadow-color darken($silver, 15%)
    --sleek-button-default-active-background-color darken($silver, 20%)
    --sleek-button-default-active-border-color darken($silver, 40%)
    --sleek-button-default-active-color $dark
    --sleek-button-default-active-shadow-color darken($silver, 15%)
    --sleek-button-icon-default-active-filter invert(18%) sepia(3%) saturate(2176%) hue-rotate(169deg) brightness(88%) contrast(88%)
    --sleek-button-blue-background-color $blue
    --sleek-button-blue-border-color darken($blue, 20%)
    --sleek-button-blue-color alpha(white, 0.9)
    --sleek-button-icon-blue-filter invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%)
    --sleek-button-blue-hover-border-color darken($blue, 30%)
    --sleek-button-blue-hover-color alpha(white, 0.9)
    --sleek-button-blue-hover-shadow-color darken($blue, 15%)
    --sleek-button-icon-blue-hover-filter invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%)
    --sleek-button-blue-focus-shadow-color darken($blue, 15%)
    --sleek-button-blue-active-background-color $blue
    --sleek-button-blue-active-border-color darken($blue, 40%)
    --sleek-button-blue-active-color alpha(white, 0.9)
    --sleek-button-blue-active-shadow-color darken($blue, 15%)
    --sleek-button-icon-blue-active-filter invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%)
    --sleek-button-simple-background-color white
    --sleek-button-simple-border-color darken(white, 20%)
    --sleek-button-simple-color $dark
    --sleek-button-icon-simple-filter invert(18%) sepia(3%) saturate(2176%) hue-rotate(169deg) brightness(88%) contrast(88%)
    --sleek-button-simple-hover-border-color darken(white, 30%)
    --sleek-button-simple-hover-color $dark
    --sleek-button-simple-hover-shadow-color darken(white, 15%)
    --sleek-button-icon-simple-hover-filter invert(18%) sepia(3%) saturate(2176%) hue-rotate(169deg) brightness(88%) contrast(88%)
    --sleek-button-simple-focus-shadow-color darken(white, 15%)
    --sleek-button-simple-active-background-color darken(white, 20%)
    --sleek-button-simple-active-border-color darken(white, 40%)
    --sleek-button-simple-active-color $dark
    --sleek-button-simple-active-shadow-color darken(white, 15%)
    --sleek-button-icon-simple-active-filter invert(18%) sepia(3%) saturate(2176%) hue-rotate(169deg) brightness(88%) contrast(88%)
    --sleek-button-subtle-hover-border-color darken(white, 30%)

    --sleek-table-border-color lighten($silver, 50%)
    --sleek-table-row-hover-border-color $blue

    --sleek-alert-default-background-color lighten($silver, 95%)
    --sleek-alert-default-border-color $silver
    --sleek-alert-link-default-hover-border-color darken($silver, 30%)
    --sleek-alert-ebony-background-color lighten($ebony, 95%)
    --sleek-alert-ebony-border-color $ebony
    --sleek-alert-link-ebony-hover-border-color darken($ebony, 30%)
    --sleek-alert-blue-background-color lighten($blue, 95%)
    --sleek-alert-blue-border-color $blue
    --sleek-alert-link-blue-hover-border-color darken($blue, 30%)
    --sleek-alert-green-background-color lighten($green, 95%)
    --sleek-alert-green-border-color $green
    --sleek-alert-link-green-hover-border-color darken($green, 30%)
    --sleek-alert-red-background-color lighten($red, 95%)
    --sleek-alert-red-border-color $red
    --sleek-alert-link-red-hover-border-color darken($red, 30%)
    --sleek-alert-orange-background-color lighten($orange, 95%)
    --sleek-alert-orange-border-color $orange
    --sleek-alert-link-orange-hover-border-color darken($orange, 30%)
    --sleek-alert-subtle-color lighten($dark, 50%)

    --sleek-text-default-color $dark
    --sleek-text-muted-color $muted

    --sleek-link-color darken($blue, 19.5%) // Achieves 4.5 contrast ratio on white background.
    --sleek-link-hover-color darken($blue, 39%)

    --sleek-divider-border-color lighten($silver, 25%)

    --sleek-shadow-color-0 lighten($dark, 97.5%) // Form fields.
    --sleek-shadow-color-1 lighten($dark, 95%)   // Regular panels, closest to page.
    --sleek-shadow-color-2 lighten($dark, 90%)   // Important panels, above regular panels.
    --sleek-shadow-color-3 lighten($dark, 85%)   // Dropdowns.
    --sleek-shadow-color-5 lighten($dark, 80%)   // Modals, bell menu.
    --sleek-shadow-color-7 lighten($dark, 75%)   // ?
