// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

.occlude {
    mask-image: linear-gradient(
        to bottom,
        rgb(0 0 0 / 75%),
        rgb(0 0 0 / 25%)
    );
    mask-mode: alpha;
    pointer-events: none;
}
