// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "../../const";
@use "../../palette";

.pills {
    display: flex;

    &__item {
        flex: 0 0 auto;
        border-radius: 0.25rem;
        text-decoration: none;
        transition: background-color const.$fast ease-in;

        &:not(.-drop),
        &.-drop > .dropdown__toggle {
            padding: 0.5rem 1rem;
        }

        &.-drop > .dropdown__toggle {
            display: block;
        }

        &:focus,
        &:hover {
            text-decoration: none;
            background-color: rgba(palette.$blue, 0.1);
        }

        > .badge {
            float: right;
            margin-left: 0.5rem;
        }

        &.-active {
            color: white;
            background-color: palette.$blue;

            .badge {
                background-color: rgba(white, 0.125);
                color: white;
            }
        }

        &.-disabled {
            color: palette.$muted;
            background-color: transparent;
            cursor: default;
            opacity: 0.75;
        }

        &.-navsm {
            border: 1px solid var(--sleek-surface-border-color);
        }

        > .icon + .text {
            margin-left: 0.5rem;
        }

        img.icon {
            margin-top: -2px;

            + .text {
                margin-left: 5px;
            }
        }

        + .pills__item {
            margin-left: 2px;
        }
    }

    &__divider {
        height: 1em;
        margin: auto 1em;
        border-right: 1px solid var(--sleek-divider-border-color);
    }
}

@media (max-width: 991px) {
    .pills {
        > :not(.-active):not(.-navsm) {
            display: none;
        }
    }

    .pillsbox {
        display: inline-block;
        margin-bottom: 25px;

        > .panel {
            display: none;
        }
    }
}
