// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "../../const";
@use "../../palette";

.switch {
    position: relative;
    display: inline-block;

    &--readonly {
        .switch__toggle::after {
            background-color: palette.$stone-200;
            box-shadow: none;
            cursor: default;
        }
    }

    &__input {
        display: none;

        &:checked + .switch__toggle::before {
            background-color: rgba(palette.$blue, 0.05);
        }

        &:checked + .switch__toggle::after {
            left: 20px;
            border-color: palette.$blue;
            background-color: palette.$blue;
        }
    }

    &__toggle {
        display: block;
        width: 52px;
        height: 29px;
        text-indent: -150%;
        clip: rect(0 0 0 0);
        color: transparent;
        user-select: none;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            cursor: pointer;
        }

        &::before {
            width: 100%;
            height: 100%;
            border: 1px solid var(--sleek-field-border-color);
            border-radius: 0.25rem;
            box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.075);
            transition: background-color const.$fast ease;
        }

        &::after {
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            margin: 7px;
            border: 1px solid var(--sleek-field-border-color);
            border-radius: 0.25rem;
            background-color: var(--sleek-field-background-color);
            box-shadow: 0 1px 0 rgba(palette.$dark, 0.075);
            transition: left const.$fast ease;
        }
    }
}
