// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "../../palette";

.faq {
    details {
        border: 1px solid var(--sleek-surface-border-color);
        border-radius: 0.25rem;
        background-color: var(--sleek-surface-background-color);

        + details {
            margin-top: 1rem;
        }

        summary {
            padding: 1rem 1.5rem;
            cursor: pointer;
        }

        > div {
            margin: 1rem 1.5rem;
        }
    }
}
