// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "../palette";

:root {
    --sleek-body-background-color: #{palette.$gray-950};

    --sleek-surface-background-color: #{palette.$neutral-950};
    --sleek-surface-shade-background-color: #{palette.$neutral-900};
    --sleek-surface-border-color: #{palette.$stone-800};
    --sleek-surface-border-color-subtle: #{palette.$stone-900};
    --sleek-surface-highlight-border-color: #{palette.$blue};

    --sleek-field-background-color: #{palette.$neutral-950};
    --sleek-field-border-color: #{palette.$stone-700};
    --sleek-field-focus-border-color: #{palette.$blue};
    --sleek-field-focus-glow-color: #{palette.$blue-800};
    --sleek-field-disabled-background-color: #{palette.$stone-800};
    --sleek-field-disabled-color: #{palette.$stone-400};
    --sleek-field-disabled-focus-border-color: #{palette.$stone-600};
    --sleek-field-disabled-focus-glow-color: #{palette.$stone-900};

    --sleek-button-default-background-color: #{palette.$neutral-800};
    --sleek-button-default-border-color: #{palette.$neutral-700};
    --sleek-button-default-color: #{rgba(white, 0.9)};
    --sleek-button-icon-default-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-default-hover-border-color: #{palette.$neutral-500};
    --sleek-button-default-hover-color: #{rgba(white, 0.9)};
    --sleek-button-default-hover-shadow-color: #{palette.$neutral-700};
    --sleek-button-icon-default-hover-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-default-focus-shadow-color: #{palette.$neutral-700};
    --sleek-button-default-active-background-color: #{palette.$neutral-800};
    --sleek-button-default-active-border-color: #{palette.$neutral-300};
    --sleek-button-default-active-color: #{rgba(white, 0.9)};
    --sleek-button-default-active-shadow-color: #{palette.$neutral-700};
    --sleek-button-icon-default-active-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);

    --sleek-button-blue-background-color: #{palette.$blue-500};
    --sleek-button-blue-border-color: #{palette.$blue-400};
    --sleek-button-blue-color: #{rgba(white, 0.9)};
    --sleek-button-icon-blue-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-blue-hover-border-color: #{palette.$blue-200};
    --sleek-button-blue-hover-color: #{rgba(white, 0.9)};
    --sleek-button-blue-hover-shadow-color: #{palette.$blue-400};
    --sleek-button-icon-blue-hover-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-blue-focus-shadow-color: #{palette.$blue-400};
    --sleek-button-blue-active-background-color: #{palette.$blue-500};
    --sleek-button-blue-active-border-color: #{palette.$blue-50};
    --sleek-button-blue-active-color: #{rgba(white, 0.9)};
    --sleek-button-blue-active-shadow-color: #{palette.$blue-400};
    --sleek-button-icon-blue-active-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);

    --sleek-button-blue-faint-background-color: #{palette.$slate-900};
    --sleek-button-blue-faint-border-color: #{palette.$blue-800};

    --sleek-button-simple-background-color: #{palette.$neutral-950};
    --sleek-button-simple-border-color: #{palette.$neutral-800};
    --sleek-button-simple-color: #{rgba(white, 0.9)};
    --sleek-button-icon-simple-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-simple-hover-border-color: #{palette.$neutral-600};
    --sleek-button-simple-hover-color: #{rgba(white, 0.9)};
    --sleek-button-simple-hover-shadow-color: #{palette.$neutral-800};
    --sleek-button-icon-simple-hover-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-simple-focus-shadow-color: #{palette.$neutral-800};
    --sleek-button-simple-active-background-color: #{palette.$neutral-950};
    --sleek-button-simple-active-border-color: #{palette.$neutral-200};
    --sleek-button-simple-active-color: #{rgba(white, 0.9)};
    --sleek-button-simple-active-shadow-color: #{palette.$neutral-800};
    --sleek-button-icon-simple-active-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);

    --sleek-button-subtle-hover-border-color: #{palette.$neutral-600};

    --sleek-table-border-color: #{palette.$stone-900};
    --sleek-table-row-hover-border-color: #{palette.$blue};

    --sleek-alert-default-background-color: #{color.scale(
            color.scale(#2a3948, $lightness: -25%),
            $lightness: -95%
        )};
    --sleek-alert-default-border-color: #{color.scale(
            #2a3948,
            $lightness: -25%
        )};
    --sleek-alert-link-default-hover-border-color: #{color.scale(
            color.scale(#2a3948, $lightness: -25%),
            $lightness: 10%
        )};
    --sleek-alert-blue-background-color: #{palette.$blue-950};
    --sleek-alert-blue-border-color: #{palette.$blue-500};
    --sleek-alert-link-blue-hover-border-color: #{palette.$blue-300};
    --sleek-alert-green-background-color: #{palette.$green-950};
    --sleek-alert-green-border-color: #{palette.$green-500};
    --sleek-alert-link-green-hover-border-color: #{palette.$green-300};
    --sleek-alert-red-background-color: #{palette.$red-950};
    --sleek-alert-red-border-color: #{palette.$red-500};
    --sleek-alert-link-red-hover-border-color: #{palette.$red-300};
    --sleek-alert-orange-background-color: #{palette.$orange-950};
    --sleek-alert-orange-border-color: #{palette.$orange-500};
    --sleek-alert-link-orange-hover-border-color: #{palette.$orange-300};
    --sleek-alert-subtle-color: #{palette.$stone-300};

    --sleek-label-default-background-color: #{rgba(palette.$silver-400, 0.2)};
    --sleek-label-default-color: #{rgba(palette.$stone-50, 0.9)};

    --sleek-text-default-color: #{rgba(palette.$stone-50, 0.9)};
    --sleek-text-muted-color: #{palette.$stone-400};

    --sleek-link-color: #{palette.$sky-300};
    --sleek-link-hover-color: #{palette.$sky-100};
    --sleek-link-muted-color: #{rgba(white, 0.7)};
    --sleek-link-muted-hover-color: #{rgba(white, 0.9)};

    --sleek-divider-border-color: #{palette.$stone-800};

    --sleek-border-color-dark: #{rgba(palette.$stone-50, 0.9)};
    --sleek-border-color-blue: #{palette.$blue-500};
    --sleek-border-color-green: #{palette.$green-500};
    --sleek-border-color-red: #{palette.$red-500};
    --sleek-border-color-orange: #{palette.$orange-500};

    --sleek-shadow-color-0: #{color.scale(
            palette.$stone-900,
            $lightness: -2.5%
        )}; // Form fields.
    --sleek-shadow-color-1: #{color.scale(palette.$stone-900, $lightness: -5%)}; // Regular panels, closest to page.
    --sleek-shadow-color-2: #{color.scale(palette.$stone-900, $lightness: -10%)}; // Important panels, above regular panels.
    --sleek-shadow-color-3: #{color.scale(palette.$stone-900, $lightness: -15%)}; // Dropdowns.
    --sleek-shadow-color-5: #{color.scale(palette.$stone-900, $lightness: -20%)}; // Modals, bell menu.
    --sleek-shadow-color-7: #{color.scale(palette.$stone-900, $lightness: -25%)}; // ?
}
