// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "../palette";

// $silver = #2a3948

:root {
    --sleek-body-background-color: #1b1d1e;

    --sleek-surface-background-color: #181a1b;
    --sleek-surface-shade-background-color: #{rgba(#232627, 75%)};
    --sleek-surface-border-color: #{color.scale(#2a3948, $lightness: -25%)};
    --sleek-surface-border-color-subtle: #{color.scale(
            #2a3948,
            $lightness: -45%
        )};
    --sleek-surface-highlight-border-color: palette.$blue;

    --sleek-field-background-color: #181a1b;
    --sleek-field-border-color: #{color.scale(#2a3948, $lightness: -25%)};
    --sleek-field-focus-border-color: #{rgba(palette.$blue, 75%)};
    --sleek-field-disabled-background-color: #181a1b;
    --sleek-field-disabled-color: #{rgba(white, 50%)};
    --sleek-field-disabled-focus-border-color: #{color.scale(
            #2a3948,
            $lightness: -25%
        )};

    --sleek-button-default-background-color: #232627;
    --sleek-button-default-border-color: #34475a;
    --sleek-button-default-color: #{rgba(white, 0.9)};
    --sleek-button-icon-default-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-default-hover-border-color: #{color.scale(
            #34475a,
            $lightness: 10%
        )};
    --sleek-button-default-hover-color: #{rgba(white, 0.9)};
    --sleek-button-default-hover-shadow-color: #{color.scale(
            #34475a,
            $lightness: 5%
        )};
    --sleek-button-icon-default-hover-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-default-focus-shadow-color: #{color.scale(
            #34475a,
            $lightness: 5%
        )};
    --sleek-button-default-active-background-color: #34475a;
    --sleek-button-default-active-border-color: #{color.scale(
            #34475a,
            $lightness: 20%
        )};
    --sleek-button-default-active-color: #{rgba(white, 0.9)};
    --sleek-button-default-active-shadow-color: #{color.scale(
            #34475a,
            $lightness: 5%
        )};
    --sleek-button-icon-default-active-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-blue-background-color: palette.$blue;
    --sleek-button-blue-border-color: #{color.scale(
            palette.$blue,
            $lightness: -20%
        )};
    --sleek-button-blue-color: #{rgba(white, 0.9)};
    --sleek-button-icon-blue-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-blue-hover-border-color: #{color.scale(
            palette.$blue,
            $lightness: -30%
        )};
    --sleek-button-blue-hover-color: #{rgba(white, 0.9)};
    --sleek-button-blue-hover-shadow-color: #{color.scale(
            palette.$blue,
            $lightness: -15%
        )};
    --sleek-button-icon-blue-hover-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-blue-focus-shadow-color: #{color.scale(
            palette.$blue,
            $lightness: -15%
        )};
    --sleek-button-blue-active-background-color: palette.$blue;
    --sleek-button-blue-active-border-color: #{color.scale(
            palette.$blue,
            $lightness: -40%
        )};
    --sleek-button-blue-active-color: #{rgba(white, 0.9)};
    --sleek-button-blue-active-shadow-color: #{color.scale(
            palette.$blue,
            $lightness: -15%
        )};
    --sleek-button-icon-blue-active-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-simple-background-color: #181a1b;
    --sleek-button-simple-border-color: #{color.scale(#181a1b, $lightness: 20%)};
    --sleek-button-simple-color: #{rgba(white, 0.9)};
    --sleek-button-icon-simple-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-simple-hover-border-color: #{color.scale(
            #181a1b,
            $lightness: 30%
        )};
    --sleek-button-simple-hover-color: #{rgba(white, 0.9)};
    --sleek-button-simple-hover-shadow-color: #{color.scale(
            #181a1b,
            $lightness: 15%
        )};
    --sleek-button-icon-simple-hover-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-simple-focus-shadow-color: #{color.scale(
            #181a1b,
            $lightness: 15%
        )};
    --sleek-button-simple-active-background-color: #{color.scale(
            #181a1b,
            $lightness: 20%
        )};
    --sleek-button-simple-active-border-color: #{color.scale(
            #181a1b,
            $lightness: 40%
        )};
    --sleek-button-simple-active-color: #{rgba(white, 0.9)};
    --sleek-button-simple-active-shadow-color: #{color.scale(
            #181a1b,
            $lightness: 15%
        )};
    --sleek-button-icon-simple-active-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-subtle-hover-border-color: #454b4e;

    --sleek-table-border-color: #{color.scale(#2a3948, $lightness: -42.5%)};
    --sleek-table-row-hover-border-color: palette.$blue;

    --sleek-alert-default-background-color: #{color.scale(
            color.scale(#2a3948, $lightness: -25%),
            $lightness: -95%
        )};
    --sleek-alert-default-border-color: #{color.scale(
            #2a3948,
            $lightness: -25%
        )};
    --sleek-alert-link-default-hover-border-color: #{color.scale(
            color.scale(#2a3948, $lightness: -25%),
            $lightness: 10%
        )};
    --sleek-alert-blue-background-color: #1b1e1f;
    --sleek-alert-blue-border-color: #1a6294;
    --sleek-alert-link-blue-hover-border-color: #{color.scale(
            #1a6294,
            $lightness: -30%
        )};
    --sleek-alert-green-background-color: #083326;
    --sleek-alert-green-border-color: #1e9b67;
    --sleek-alert-link-green-hover-border-color: #{color.scale(
            #1e9b67,
            $lightness: 10%
        )};
    --sleek-alert-red-background-color: #320606;
    --sleek-alert-red-border-color: #891817;
    --sleek-alert-link-red-hover-border-color: #{color.scale(
            #891817,
            $lightness: 10%
        )};
    --sleek-alert-orange-background-color: #3b2000;
    --sleek-alert-orange-border-color: #b56203;
    --sleek-alert-link-orange-hover-border-color: #{color.scale(
            #b56203,
            $lightness: 10%
        )};
    --sleek-alert-subtle-color: #{rgba(white, 0.7)};

    --sleek-text-default-color: #{rgba(white, 0.9)};
    --sleek-text-muted-color: #{rgba(white, 0.7)};

    --sleek-link-color: palette.$blue;
    --sleek-link-hover-color: #{color.scale(palette.$blue, $lightness: 19.5%)};
    --sleek-link-muted-color: #{rgba(white, 0.7)};
    --sleek-link-muted-hover-color: #{rgba(white, 0.9)};

    --sleek-divider-border-color: #283344;

    --sleek-shadow-color-0: #{color.scale(#181a1b, $lightness: -2.5%)}; // Form fields.
    --sleek-shadow-color-1: #{color.scale(#181a1b, $lightness: -5%)}; // Regular panels, closest to page.
    --sleek-shadow-color-2: #{color.scale(#181a1b, $lightness: -10%)}; // Important panels, above regular panels.
    --sleek-shadow-color-3: #{color.scale(#181a1b, $lightness: -15%)}; // Dropdowns.
    --sleek-shadow-color-5: #{color.scale(#181a1b, $lightness: -20%)}; // Modals, bell menu.
    --sleek-shadow-color-7: #{color.scale(#181a1b, $lightness: -25%)}; // ?
}
