// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "sass:color";
@use "../palette";

:root {
    --sleek-body-background-color: #{palette.$gray-50};

    --sleek-surface-background-color: #{palette.$neutral-50};
    --sleek-surface-shade-background-color: #{palette.$neutral-100};
    --sleek-surface-border-color: #{palette.$stone-200};
    --sleek-surface-border-color-subtle: #{palette.$stone-100};
    --sleek-surface-highlight-border-color: #{palette.$blue};

    --sleek-field-background-color: #{palette.$neutral-50};
    --sleek-field-border-color: #{palette.$stone-300};
    --sleek-field-focus-border-color: #{palette.$blue};
    --sleek-field-focus-glow-color: #{palette.$blue-200};
    --sleek-field-disabled-background-color: #{palette.$stone-200};
    --sleek-field-disabled-color: #{palette.$stone-600};
    --sleek-field-disabled-focus-border-color: #{palette.$stone-400};
    --sleek-field-disabled-focus-glow-color: #{palette.$stone-100};

    --sleek-button-default-background-color: #{palette.$neutral-200};
    --sleek-button-default-border-color: #{palette.$neutral-300};
    --sleek-button-default-color: #{rgba(palette.$stone-950, 0.9)};
    --sleek-button-icon-default-filter: invert(18%) sepia(3%) saturate(2176%)
        hue-rotate(169deg) brightness(88%) contrast(88%);
    --sleek-button-default-hover-border-color: #{palette.$neutral-500};
    --sleek-button-default-hover-color: #{rgba(palette.$stone-950, 0.9)};
    --sleek-button-default-hover-shadow-color: #{palette.$neutral-300};
    --sleek-button-icon-default-hover-filter: invert(18%) sepia(3%)
        saturate(2176%) hue-rotate(169deg) brightness(88%) contrast(88%);
    --sleek-button-default-focus-shadow-color: #{palette.$neutral-300};
    --sleek-button-default-active-background-color: #{palette.$neutral-300};
    --sleek-button-default-active-border-color: #{palette.$neutral-700};
    --sleek-button-default-active-color: #{rgba(palette.$stone-950, 0.9)};
    --sleek-button-default-active-shadow-color: #{palette.$neutral-300};
    --sleek-button-icon-default-active-filter: invert(18%) sepia(3%)
        saturate(2176%) hue-rotate(169deg) brightness(88%) contrast(88%);

    --sleek-button-blue-background-color: #{palette.$blue-500};
    --sleek-button-blue-border-color: #{palette.$blue-600};
    --sleek-button-blue-color: #{rgba(white, 0.9)};
    --sleek-button-icon-blue-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-blue-hover-border-color: #{palette.$blue-800};
    --sleek-button-blue-hover-color: #{rgba(white, 0.9)};
    --sleek-button-blue-hover-shadow-color: #{palette.$blue-600};
    --sleek-button-icon-blue-hover-filter: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(125deg) brightness(103%) contrast(103%);
    --sleek-button-blue-focus-shadow-color: #{palette.$blue-600};
    --sleek-button-blue-active-background-color: #{palette.$blue-600};
    --sleek-button-blue-active-border-color: #{palette.$blue-950};
    --sleek-button-blue-active-color: #{rgba(white, 0.9)};
    --sleek-button-blue-active-shadow-color: #{palette.$blue-600};
    --sleek-button-icon-blue-active-filter: invert(100%) sepia(100%)
        saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);

    --sleek-button-blue-faint-background-color: #{palette.$slate-100};
    --sleek-button-blue-faint-border-color: #{palette.$blue-200};

    --sleek-button-simple-background-color: #{palette.$neutral-50};
    --sleek-button-simple-border-color: #{palette.$neutral-200};
    --sleek-button-simple-color: #{rgba(palette.$stone-950, 0.9)};
    --sleek-button-icon-simple-filter: invert(18%) sepia(3%) saturate(2176%)
        hue-rotate(169deg) brightness(88%) contrast(88%);
    --sleek-button-simple-hover-border-color: #{palette.$neutral-400};
    --sleek-button-simple-hover-color: #{rgba(palette.$stone-950, 0.9)};
    --sleek-button-simple-hover-shadow-color: #{palette.$neutral-200};
    --sleek-button-icon-simple-hover-filter: invert(18%) sepia(3%)
        saturate(2176%) hue-rotate(169deg) brightness(88%) contrast(88%);
    --sleek-button-simple-focus-shadow-color: #{palette.$neutral-200};
    --sleek-button-simple-active-background-color: #{palette.$neutral-200};
    --sleek-button-simple-active-border-color: #{palette.$neutral-800};
    --sleek-button-simple-active-color: #{rgba(palette.$stone-950, 0.9)};
    --sleek-button-simple-active-shadow-color: #{palette.$neutral-200};
    --sleek-button-icon-simple-active-filter: invert(18%) sepia(3%)
        saturate(2176%) hue-rotate(169deg) brightness(88%) contrast(88%);

    --sleek-button-subtle-hover-border-color: #{palette.$neutral-400};

    --sleek-table-border-color: #{palette.$stone-100};
    --sleek-table-row-hover-border-color: #{palette.$blue};

    --sleek-alert-default-background-color: #{color.scale(
            palette.$stone-200,
            $lightness: 95%
        )};
    --sleek-alert-default-border-color: #{palette.$stone-200};
    --sleek-alert-link-default-hover-border-color: #{color.scale(
            palette.$stone-200,
            $lightness: -30%
        )};
    --sleek-alert-ebony-background-color: #{color.scale(
            palette.$ebony,
            $lightness: 95%
        )};
    --sleek-alert-ebony-border-color: #{palette.$ebony};
    --sleek-alert-link-ebony-hover-border-color: #{color.scale(
            palette.$ebony,
            $lightness: -30%
        )};
    --sleek-alert-blue-background-color: #{palette.$blue-50};
    --sleek-alert-blue-border-color: #{palette.$blue-500};
    --sleek-alert-link-blue-hover-border-color: #{palette.$blue-700};
    --sleek-alert-green-background-color: #{palette.$green-50};
    --sleek-alert-green-border-color: #{palette.$green-500};
    --sleek-alert-link-green-hover-border-color: #{palette.$green-700};
    --sleek-alert-red-background-color: #{palette.$red-50};
    --sleek-alert-red-border-color: #{palette.$red-500};
    --sleek-alert-link-red-hover-border-color: #{palette.$red-700};
    --sleek-alert-orange-background-color: #{palette.$orange-50};
    --sleek-alert-orange-border-color: #{palette.$orange-500};
    --sleek-alert-link-orange-hover-border-color: #{palette.$orange-700};
    --sleek-alert-subtle-color: #{palette.$stone-700};

    --sleek-label-default-background-color: #{rgba(palette.$silver-600, 0.1)};
    --sleek-label-default-color: #{rgba(palette.$stone-950, 0.9)};

    --sleek-text-default-color: #{rgba(palette.$stone-950, 0.9)};
    --sleek-text-muted-color: #{palette.$stone-600};

    --sleek-link-color: #{palette.$sky-700};
    --sleek-link-hover-color: #{palette.$sky-900};
    --sleek-link-muted-color: #{palette.$muted};
    --sleek-link-muted-hover-color: #{palette.$dark};

    --sleek-divider-border-color: #{palette.$stone-200};

    --sleek-border-color-dark: #{rgba(palette.$stone-950, 0.9)};
    --sleek-border-color-blue: #{palette.$blue-500};
    --sleek-border-color-green: #{palette.$green-500};
    --sleek-border-color-red: #{palette.$red-500};
    --sleek-border-color-orange: #{palette.$orange-500};

    --sleek-shadow-color-0: #{color.scale(palette.$stone-100, $lightness: 2.5%)}; // Form fields.
    --sleek-shadow-color-1: #{color.scale(palette.$stone-100, $lightness: 5%)}; // Regular panels, closest to page.
    --sleek-shadow-color-2: #{color.scale(palette.$stone-100, $lightness: 10%)}; // Important panels, above regular panels.
    --sleek-shadow-color-3: #{color.scale(palette.$stone-100, $lightness: 15%)}; // Dropdowns.
    --sleek-shadow-color-5: #{color.scale(palette.$stone-100, $lightness: 20%)}; // Modals, bell menu.
    --sleek-shadow-color-7: #{color.scale(palette.$stone-100, $lightness: 25%)}; // ?
}
