// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@require '../../func'
@require '../../palette'

body
	display flex
	flex-direction column
	justify-content center
	min-height 100vh
	background-color lighten(mix($blue, $silver, 10%), 82.5%)
	background radial-gradient(circle, transparent 20%, lighten(mix($blue, $silver, 10%), 82.5%) 20%, lighten(mix($blue, $silver, 10%), 82.5%) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, lighten(mix($blue, $silver, 10%), 82.5%) 20%, lighten(mix($blue, $silver, 10%), 82.5%) 80%, transparent 80%, transparent) 1.5rem 1.5rem, linear-gradient(lighten($silver, 50%) 0.125rem, transparent 0.125rem) 0 -1px, linear-gradient(90deg, lighten($silver, 50%) 0.125rem, lighten(mix($blue, $silver, 10%), 82.5%) 0.125rem) -1px 0
	background-size 3rem 3rem, 3rem 3rem, 1.5rem 1.5rem, 1.5rem 1.5rem

.phead
	margin 2rem 0
	text-align center

.pfoot
	margin 0.5rem 0
	text-align center

@media (min-width: 768px)
	body
		padding 2rem 0

.panel
	&.-space &__body
		padding 2rem
