// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@require '../../func'
@require '../../palette'

body
	display flex
	flex-direction column
	justify-content center
	min-height 100vh
	background-color var(--sleek-body-background-color)

.phead
	margin 2rem 0
	text-align center

.pfoot
	margin 0.5rem 0
	text-align center

@media (min-width: 768px)
	body
		padding 2rem 0

.panel
	&.-space &__body
		padding 2rem
