// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@require './const'
@require './palette'

.alert
	position relative
	padding 1.5rem
	margin-bottom 1.5rem
	border 1px solid transparent
	border-radius 0.25rem

	&.-broadcast
		margin 0
		border-width 0 0 1px
		border-radius 0
		
	&.-closable
		padding-right 4.5rem
		
	&__body
		display flex
		align-items center
	
	&__icon
		margin-right 1rem
		font-size 1.25rem
		line-height 0

	&__close
		position absolute
		top 0
		right 0
		padding 1.5rem

for c in 'default' 'ebony' 'blue' 'green' 'red' 'orange'
	.alert.-{c}
		background-color var('--sleek-alert-%s-background-color' % unquote(c))
		border-color var('--sleek-alert-%s-border-color' % unquote(c))

.alert.-subtle
	border-color var(--sleek-surface-border-color-subtle)
	color var(--sleek-alert-subtle-color)

	a&
		display block
		text-decoration none

		&:hover,
		&:focus
			border-color $blue
			color var(--sleek-alert-subtle-color)

a > .alert.-subtle
	transition border-color $fast ease-in, color $fast ease-in
