// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

@require './const'

.badge
	display inline-block
	padding 0 0.5rem
	border-radius 0.25rem
	background-color var(--sleek-surface-shade-background-color)
	color var(--sleek-text-muted-color)
	transition background-color $fast ease-in

	&:empty
		display none
