// Copyright 2023 Furqan Software Ltd. All Rights Reserved.

@require './responsive'

_container_widths = {
	sm: 540
	md: 720
	lg: 960
	xl: 1140
	xx: 1320
}

.container
	width 100%
	margin-left auto
	margin-right auto
	padding-left 15px
	padding-right 15px

for bk, bv in _breakpoints
	@media (min-width: unit(bv, 'px'))
		.container:not(.-fluid)
			max-width unit(_container_widths[bk], 'px')

.container:before, .container:after, .row:before, .row:after
	display table
	content " "

.container:after, .row:after
	clear both
