// Copyright 2023 Furqan Software Ltd. All Rights Reserved.

@require './const'
@require './func'
@require './palette'

.dashlet
	margin-bottom 0.5rem
	border 1px solid $silver
	border-radius 0.25rem
	overflow hidden
	background-color white
	color $dark
	box-shadow 0 0.0625rem 0.125rem $shadow1

	&.-active,
	&.-active:hover
		border-color $blue
	
	&.-xs
		margin-bottom 0.25rem
	
	&.-subtle
		border none
		box-shadow none

	&__body
		position absolute
		right 1rem
		padding 1.25rem 1rem
		line-height 1em
		text-align right
	
	&.-sm &__body
		right auto
		left 1rem
		padding 1rem
		text-align left
	
	&.-xs &__body
		position static
		padding 0.5rem
		text-align left
		
	&.-xs.-subtle &__body
		padding 0.5rem 0
	
	&__stat
		margin-bottom 0.5rem
		font-size 1.5rem
		line-height 1em

	&.-sm &__stat
		margin-bottom 0.5rem
		font-size 1.5rem

	&.-xs &__stat
		float right
		font-size inherit
		line-height inherit
		color $muted
	
	&__mark
		display block
		float left
		width 4.25rem
		height 4.25rem
		margin 0 0 1rem -2rem
		padding 0.5rem 0 0 1rem
		font-size 6.25rem
		line-height 1em
		opacity 0.0625
		transition opacity $fast ease-in

	&.-sm &__mark
		float right
		margin-bottom 0
		padding-top 0
		font-size 5rem

	&.-xs &__mark
		float right
		width 2rem
		height 1.875rem
		margin 0 0.5rem 0 -2rem
		padding 0
		font-size 3rem
		opacity 0.0325

	&__foot
		position relative
		display block
		clear both
		padding 0.25rem 0.5rem
		border-top 1px solid $silver
		text-align center
		background-color $shade

	.progress
		position relative
		clear both
		height 0.5rem

	a&
		display block
		text-decoration none
		color $dark
		transition border-color $fast ease-in

		&:hover,
		&:focus
			text-decoration none
			color $dark
			border-color $blueglow

			.dashlet__mark
				opacity 0.09375
