// Copyright 2023 Furqan Software Ltd. All Rights Reserved.

@require './responsive'

.flex
    display flex

    &.-jc-center
        justify-content center

    &.-jc-around
        justify-content space-around

    &.-jc-right
        justify-content right

    &.-ai-center
        align-items center

_flex(ns)
    .{ns}flex-column
        flex-direction column
    .{ns}flex-row
        flex-direction row

    .{ns}flex-wrap
        flex-wrap wrap
    .{ns}flex-nowrap
        flex-wrap nowrap
    
    for p in 25 50 75 100
        .{ns}flex-basis-{p}
            flex-basis percentage(p/100)

_flex('')

for bk, b in _breakpoints
    @media (min-width: unit(b, 'px'))
        _flex('%s-' % unquote(bk))

