// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-ms-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	box-shadow arguments

mask-image()
	-webkit-mask-image arguments
	mask-image arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments
