// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

$dark   = #2f353b
$ebony  = #22313f
$blue   = #3598dc
$green  = #009736
$red    = #f14a53
$orange = #e87e04
$silver = #e7ecf1

$dark500 = mix($dark, $silver, 10%)
$dark600 = mix($dark, $silver, 20%)
$dark700 = mix($dark, $silver, 30%)

$muted = lighten($dark, 25%)

$shade = lighten($silver, 50%)

$blueglow = alpha($blue, 75%)
$silverglow = alpha($silver, 75%)
