// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

$dark   = #2f353b
$ebony  = #22313f
$blue   = #3598dc
$green  = #26c281
$red    = #e35b5a
$orange = #e87e04
$silver = #e7ecf1

$dark500 = mix($dark, $silver, 10%)
$dark600 = mix($dark, $silver, 20%)
$dark700 = mix($dark, $silver, 30%)

$muted = lighten($dark, 25%)

$shade = alpha($silver, 75%)

$blueglow = alpha($blue, 75%)
$silverglow = alpha($silver, 75%)

$shadow0 = alpha($dark, 2.5%) // Form fields.
$shadow1 = alpha($dark, 5%)   // Regular panels, closest to page.
$shadow2 = alpha($dark, 10%)  // Important panels, above regular panels.
$shadow3 = alpha($dark, 15%)  // Dropdowns.
$shadow5 = alpha($dark, 20%)  // Modals, bell menu.
$shadow7 = alpha($dark, 25%)  // ?
