// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

.progress
	display flex
	height 1rem
	overflow hidden
	box-shadow inset 0 0.0625rem 0.125rem alpha($dark, 0.125)

	&__bar
		width 0
		height 100%
		line-height 1rem
