// Copyright 2023 Furqan Software Ltd. All Rights Reserved.

*,
::before,
::after
	box-sizing border-box

html
	line-sizing normal

article,
aside,
details,
figcaption, 
figure, 
footer,
header,
hgroup, 
main,
menu,
nav,
section,
summary 
	display block

body,
dl,
h1,
h2,
h3,
h4,
p,
pre
	margin 0	

table
	border-spacing 0
	border-collapse collapse
	background-color transparent

th
	text-align left

// TO REMOVE OR MOVE ELSEWHERE

@require './func'
@require './palette'

label
	font-weight normal

// pre,
// pre[class*="language-"],
// .pre,
// code,
// code[class*="language-"]
// 	font-family 'Ubuntu Mono', monospace
// 	font-size 1.05em

// pre
// 	border-radius 2px

// code
// 	border none
// 	box-shadow none

// pre[class*="language-"] code
// 	display block

// 	.line-numbers
// 		padding-left 3.8em !important

// dl
// 	dt
// 		margin-bottom 4px
// 		font-weight 500

// 		.icon
// 			margin-top -4px

// 	dd .item
// 		margin-bottom 5px

.hidden
	display none

.dotted
	border-bottom 1px dotted $dark
	cursor pointer

.scroller
	overflow-y auto
