// Copyright 2024 Furqan Software Ltd. All Rights Reserved.

*,
::before,
::after
	box-sizing border-box

html
	font-size 16px
	line-sizing normal

article,
aside,
details,
figcaption, 
figure, 
footer,
header,
hgroup, 
main,
menu,
nav,
section,
summary 
	display block

body,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre
	margin 0	

table
	border-spacing 0
	border-collapse collapse
	background-color transparent

th
	text-align left

// TO REMOVE OR MOVE ELSEWHERE

@require './func'
@require './palette'

label
	font-weight normal

.hidden
	display none

.dotted
	border-bottom 1px dotted $dark
	cursor pointer

.scroller
	overflow-y auto
