// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

body 
	font-family 'Ubuntu', 'Helvetica', sans-serif
	font-size 14px
	line-height 1.42857143
	color $dark
	direction 'ltr'

h1,
h2,
h3,
h4,
h5,
h6
	font-family inherit
	font-weight normal
	line-height 1.1
	color inherit

h1,
h2,
h3
	margin-top 20px
	margin-bottom 10px

h4,
h5,
h6
	margin-top 10px
	margin-bottom 10px

h1
	font-size 36px

h2
	font-size 30px

h3
	font-size 24px

h4
	font-size 18px

h5
	font-size 14px

h6
	font-size 12px

p
	margin: 20px 0

blockquote p:first-child
	margin-top 0
