// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

@require '../../base/const'
@require '../../base/func'
@require '../../base/palette'

.modal
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 1050
	display none
	overflow hidden
	-webkit-overflow-scrolling touch
	outline 0
	
	&::before
		content ''
		position fixed
		top 0
		right 0
		bottom 0
		left 0
		opacity 0
		background-color alpha($dark, 25%)
		backdrop-filter blur(0.125rem)
		-webkit-backdrop-filter blur(0.125rem)
		transition opacity $fast ease-in
	
	&.-open
		&::before
			opacity 1

		&:not(.-closing)
			overflow-x hidden
			overflow-y auto

	&.-opening
		display block
	
	&.-closing
		&::before
			opacity 0
	
	&__dialog
		position relative
		width auto
		margin 0.5rem
		border-radius 0.25rem
		// Fixes https://gitlab.furqansoftware.net/toph/sleek/-/issues/8
		// overflow hidden
		background-color white
		box-shadow 0 0.5rem 1rem $shadow5

	&__head
		padding 1rem 1.25rem
		
		&.-socle
			border-bottom 1px solid $silver
			box-shadow 0 0.25rem 0.125rem $shadow0
			
			.tabsbox
				margin-top 1rem
				margin-bottom -1rem
		
	&__cross
		float right

	&__body
		padding 1rem 1.25rem

	&__foot
		padding 1rem 1.25rem

		&.-shade
			background-color lighten($silver, 75%)

@media (min-width: 768px)
	.modal__dialog
		width 600px
		margin 2rem auto

@media (min-width: 992px)
	.modal__dialog.-lg
		width 900px

.modalroot.-block
	overflow-y hidden
