// Copyright 2026 Furqan Software Ltd. All Rights Reserved.

@use "../../const";
@use "../../palette";

:root {
    --sleek-site-pmenu-item-hover-background-color: #{palette.$slate-100};
    --sleek-site-pmenu-icon-filter: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--sleek-body-background-color);

    &.-staging {
        border-top: 0.25rem solid transparent;
        border-image: repeating-linear-gradient(
                90deg,
                #fef08a,
                #fef08a 1rem,
                palette.$dark 1rem,
                palette.$dark 2rem
            )
            1;
    }
}

.phead {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--sleek-surface-border-color-subtle);
    background: var(--sleek-surface-background-color);

    &__body {
        display: flex;
        align-items: center;
    }

    &__logo {
        float: left;
        padding: 1rem 0;
    }

    &.-shade {
        border-bottom: 1px solid var(--sleek-surface-border-color);
        box-shadow: 0 0.0625rem 0.125rem var(--sleek-shadow-color-0);
    }
}

.pmenu {
    display: flex;
    margin-left: auto;

    &__item {
        position: relative;
        display: block;

        &.-user {
            margin-left: 0.5rem;

            img {
                border-radius: 0.25rem;
            }
        }

        &.-link,
        &.-drop > a {
            border-radius: 0.25rem;
            text-decoration: none;
            transition: background-color const.$fast ease-in;

            &:hover,
            &:focus,
            &.-open {
                text-decoration: none;
                background-color: var(
                    --sleek-site-pmenu-item-hover-background-color
                );
            }
        }

        &.-link,
        &.-drop > a {
            > img,
            .dropdown__toggle img {
                display: block;
                opacity: 0.35;
                transition: opacity const.$fast ease-in;
            }

            .icon {
                filter: var(--sleek-site-pmenu-icon-filter);
            }

            &:hover,
            &:focus,
            &.-open {
                > img,
                .dropdown__toggle img {
                    opacity: 0.5;
                }
            }
        }

        &.-link {
            padding: 8px;
            line-height: 24px;
        }

        &.-drop > a {
            display: block;
            padding: 8px;
        }

        .badge {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgba(palette.$red, 75%);
            color: white;
        }
    }

    &__divider {
        position: relative;
        float: left;
        display: block;
        height: 40px;
        margin: 0.75rem;
        border-right: 1px solid var(--sleek-divider-border-color);
        height: 1rem;
    }
}

.pfoot {
    margin-top: 5rem;
    padding: 1rem 0;
    border-top: 1px solid var(--sleek-surface-border-color);
    color: var(--sleek-text-muted-color);

    a {
        color: var(--sleek-link-muted-color);

        &:hover,
        &:focus {
            color: var(--sleek-link-muted-hover-color);
        }
    }

    &__upper {
        display: flex;
        margin: 2rem 0 3rem;

        &:after {
            clear: both;
        }
    }

    &__logo {
        margin: 0.5rem 0 1.5rem;
    }

    &__nav {
        margin-left: auto;
        width: 40%;
        text-align: center;

        ul {
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            li {
                padding: 0.75rem 0;
            }
        }
    }

    &__social {
        display: flex;
        gap: 0.5rem;
    }

    &__lower {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__legal {
        margin-left: auto;

        a {
            margin-left: 1rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

@media (min-width: 992px) {
    .pmenu__item.-bars {
        display: none;
    }
}

@media (max-width: 767px) {
    .pfoot {
        text-align: center;

        &__upper {
            flex-direction: column;
        }

        &__nav {
            width: auto;
            margin: 2rem 0 0;
        }

        &__social {
            justify-content: center;
        }

        &__lower {
            flex-direction: column;
            gap: 0.5rem;
        }

        &__legal {
            margin-left: unset;
        }
    }
}

// Discourse

d-topics-list iframe {
    width: 100%;
    height: 480px;
}
