// Copyright 2022 Furqan Software Ltd. All Rights Reserved.

@require '../../base/const'
@require '../../base/func'
@require '../../base/palette'

.dropdown
	&__menu.-grid
		flex-direction row
		gap 1rem
		padding 1rem

	&__item.-cell
		display flex
		flex-direction column
		gap 0.5rem
		align-items center
		width 7.5rem
		padding 1rem
		border-radius 0.25rem
		
		.icon
			width auto
			margin-right 0
			font-size 4rem
