// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

@require './color'

.alert
	border-radius 2px

	&.-broadcast
		margin 0
		border-width 0 0 1px
		border-radius 0

_alert(name, code)
	.alert.-{name}
		background-color lighten(code, 95%)
		border-color code

_alert('default', #e1e5ec)
_alert('ebony', $ebony)
_alert('blue', $blue)
_alert('green', $green)
_alert('red', $red)
_alert('orange', $orange)

.alert.-subtle
	border-color lighten($silver, 25%)
	text-align center
	color lighten($dark, 50%)

a > .alert.-subtle
	transition border-color 0.25s ease-in-out, color 0.25s ease-in-out

a:hover > .alert.-subtle
	border-color $blue
	color lighten($dark, 25%)
