// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

@require './const'
@require './palette'

.alert
	position relative
	padding 1.5rem
	margin-bottom 1.5rem
	border 1px solid transparent
	border-radius 0.25rem
	
	> p,
	> ul
		margin-bottom 0
	
	> p + p
		margin-top 1rem

	&.-broadcast
		margin 0
		border-width 0 0 1px
		border-radius 0
		
	&.-closable
		padding-right 4.5rem
		
	&__body
		display flex
		align-items center
	
	&__icon
		margin-right 1rem

		.icon
			font-size 1.5em

	&__actions
		margin-top 1.5rem
	
	&__close
		position absolute
		top 0
		right 0
		padding 1.5rem

_alert(name, code)
	.alert.-{name}
		background-color lighten(code, 95%)
		border-color code

_alert('default', #e1e5ec)
_alert('ebony', $ebony)
_alert('blue', $blue)
_alert('green', $green)
_alert('red', $red)
_alert('orange', $orange)

.alert.-subtle
	border-color lighten($silver, 25%)
	text-align center
	color lighten($dark, 50%)

a > .alert.-subtle
	transition border-color 0.25s ease-in-out, color 0.25s ease-in-out

a:hover > .alert.-subtle
	border-color $blue
	color lighten($dark, 25%)
