// Copyright 2020 Furqan Software Ltd. All rights reserved.

@require './func'
@require './color'

.artifact
	font-size 16px
	line-height 1.6em

	&__cover
		position relative
		min-height 160px
		margin -20px -20px 20px
		border-bottom 1px solid #e7ecf1
		border-radius 2px 2px 0 0
		overflow hidden

		&.-modest
			height 160px
			opacity 0.5
			transition opacity 0.25s ease-in-out
		
		&.-placeholder
			background-position 50% 50%
			background-size auto
			background-color #e7ecf1
			background-repeat repeat
		
		img
			display block
			width 100%
			height auto
	
	&:hover
		.artifact__cover
			opacity 1

	&__header
		position relative

		.flairs
			position absolute
			bottom 10px

	h1
		margin 20px 0
		font-size 30px

	h2,
	h3,
	h4,
	h5,
	h6
		margin 40px 0 15px

	h2
		font-size 24px

	h3
		font-size 22px

	h4
		font-size 20px

	h5
		font-size 18px
		
	h6
		font-size 16px

	&__caption
		h1, h2, h3, h4, h5, h6
			margin-top 0
	
	p > img,
	p > picture > img
		display block
		margin 0 auto 8px
		max-width 100%
	
	pre[class*="language-"]
		margin 20px 0
	
	table
		width 100%
		max-width 100%
	
	a.caption,
	a.caption:hover,
	a.caption:active,
	a.caption:focus
		color $dark

	table.samples
		> thead > tr > th
			font-size 0.95em
	
		> tbody > tr > td
			vertical-align top

		pre
			padding 0
			margin 0
			border none
			background-color transparent
	