// Copyright 2020 Furqan Software Ltd. All rights reserved.

@require './const'
@require './func'
@require './palette'

.artifact
	line-height 2em
	
	> * + *
		margin-top 1.5rem
	
	&__fragment
		display contents
		
		> * + *
			margin-top 1.5rem

	h1
		line-height 1.85em
	
	h2
		line-height 1.5em
	
	h3
		line-height 1.35em
	
	h4
		line-height 1.2em
	
	p > img,
	p > picture > img
		display block
		margin 0 auto 8px
		max-width 100%
	
	table
		width 100%
		max-width 100%

	table.-samples
		> tbody > tr > td
			vertical-align top

		pre
			padding 0
			margin 0
