// Copyright 2020 Furqan Software Ltd. All rights reserved.

@require './color'

.avatars,
.avatar
	img 
		background-color darken($silver, 5%)
		border-radius 3px
	
.avatar
	display inline-block
	position relative

	&.-sm
		width 40px
		
		+ .handle
			margin-left 10px
		
	&.-xs
		width 20px
		
		+ .handle
			margin-left 5px
			vertical-align middle

	.emblem
		position absolute
		right -3px
		bottom -5px
		width 24px
		height 18px
		margin 0
		transition opacity 0.25s ease, bottom 0.25s ease

	&:hover
		.emblem
			bottom -10px
			opacity 0
