// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

@require './palette'

_color(name, code)
	.bg-{name}
		background-color code !important

	.font-{name}
		color code !important

	.border-{name}
		border-color code !important

_color('dark', $dark)
_color('ebony', $ebony)
_color('blue', $blue)
_color('green', $green)
_color('red', $red)
_color('orange', $orange)
