// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

@require './func'
@require './color'

.dashlet
	margin-bottom 10px
	border 1px solid $silver
	border-radius 0.25rem
	overflow hidden
	background-color white
	color $dark
	box-shadow 0 1px 0 alpha($dark, 0.0325)

	&.-active,
	&.-active:hover
		border-color $blue
	
	&.-xs
		margin-bottom 5px
	
	&.-subtle
		border none
		box-shadow none

	&__body
		position absolute
		right 15px
		padding 20px 15px
		font-size 15px
		line-height 15px
		text-align right
	
	&.-sm &__body
		right auto
		left 15px
		padding 15px
		text-align left
	
	&.-xs &__body
		position static
		padding 10px
		font-size 14px
		line-height 14px
		text-align left
		
	&.-xs.-subtle &__body
		padding 10px 0
	
	&__stat
		margin-bottom 10px
		font-size 30px
		line-height 30px

	&.-sm &__stat
		margin-bottom 10px
		font-size 25px
		line-height 25px

	&.-xs &__stat
		float right
		font-size inherit
		line-height inherit
		color $muted
	
	&__mark
		display block
		float left
		width 80px
		height 80px
		margin 0 0 15px -35px
		padding 10px 0 0 15px
		font-size 110px
		line-height 110px
		opacity 0.05
		transition transform 0.25s ease-in-out

	&.-sm &__mark
		float right
		margin-bottom 0
		padding-top 0
		font-size 80px

	&.-xs &__mark
		float right
		width 30px
		height 30px
		margin 0 10px 0 -35px
		padding 0
		font-size 50px
		line-height 50px
		opacity 0.025

	&__foot
		position relative
		display block
		clear both
		padding 5px 10px
		border-top 1px solid $silver
		text-align center
		background-color alpha($silver, 75%)

	.progress
		position relative
		clear both
		height 10px

a > .dashlet
	transition border-color 0.25s ease-in-out

a > .dashlet:hover
	border-color lighten($blue, 50%)

	.dashlet__mark
		transform scale(1.1)
