// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

@require './func'
@require './color'

.dashlet
	margin-bottom 25px
	border 1px solid $silver
	border-radius 2px
	overflow hidden
	background-color white
	color $dark
	box-shadow 0 1px 3px alpha($dark, 0.0325)

	&.active,
	&.active:hover
		border-color $blue

	.visual
		display block
		float left
		width 80px
		height 80px
		margin 0 0 15px -35px
		padding 10px 0 0 15px
		font-size 110px
		line-height 110px
		color $ebony
		opacity 0.05
		transition transform 0.25s ease-in-out

	.details
		position absolute
		right 15px
		padding-right 15px

		.number
			margin-bottom 0
			padding-top 25px
			font-size 34px
			line-height 36px
			text-align right

		.desc
			font-size 16px
			text-align right
	
	.display
		margin-bottom 5px

		.number
			float right
			line-height 1.2em
		
		.desc
			width 75%
			overflow hidden
			font-size 1.2em
			text-overflow ellipsis
			white-space nowrap

	.details,
	.display
		.desc .icon
			margin-top -2px

	.more
		position relative
		display block
		clear both
		padding 6px 10px 6px 10px
		border-top 1px solid $silver
		text-align center
		background-color alpha($silver, 75%)

	.progress
		position relative
		clear both
		height 10px
	

	&.mini
		margin-bottom 15px

		.visual
			float right
			margin-bottom 0
			padding-top 0
			font-size 80px
			opacity 0.05
		
		.details 
			right auto
			left 15px
			padding-right 0
			padding-left 15px
			
			.number,
			.desc
				text-align left

			.number
				padding-top 10px
				font-size 24px

a > .dashlet
	transition border-color 0.25s ease-in-out

a > .dashlet:hover
	border-color lighten($blue, 50%)

	.visual
		transform scale(1.1)

.panel__body .dashlet
	border none
	box-shadow none
