// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

@require './func'
@require './color'

.dropdown-toggle .caret
	margin-left 4px

.dropdown-menu
	border-color darken($silver, 5%)
	border-radius 0.25rem

.dropdown-menu
	margin-top 5px
	padding 0
	box-shadow 0 3px 5px alpha($dark, 0.05)
	overflow hidden
	
	> li
		> a
			padding 0.5rem 1rem
			line-height 1.5
			color $dark
			transition background-color 0.25s ease-in-out

			&:hover,
			&:focus,
			&:active
				background-color lighten($silver, 75%)
			
			.icon
				font-size 1rem
		
		.dropdown
			margin -25px 0 0 95%
	
		&.active a
			padding-left 10px
			border-left 5px solid $blue
			background-color transparent
			color $dark

			&:hover,
			&:focus,
			&:active
				background-color transparent
	
	.dropdown-header
		padding 0.5rem 1rem 0.25rem
		font-size 0.9rem

	.divider
		margin 0
		background-color lighten($silver, 20%)

		&:first-child,
		&:last-child
			display none

.dropdown.notifications
	> .dropdown-menu
		width 300px

		ul
			padding-left 0
			list-style none

			> li
				> a
					display block
					border-bottom 1px solid lighten($silver, 75%)
					padding 0.5rem 1rem
					color $muted

					&:hover,
					&:focus,
					&:active
						background-color lighten($silver, 75%)

					.time
						margin-top 0.25rem
						font-size 0.95em

				&.unseen a
					padding-left 12px
					border-left 3px solid $blue
			
		.dropdown-header
			background-color lighten($silver, 75%)
