// Copyright 2022 Furqan Software Ltd. All Rights Reserved.

.flex
	display flex
	
	&.-column
		flex-direction column

	&.-gap-1-4
		gap 0.25rem

	&.-gap-1-2
		gap 0.5rem

	&.-j-center
		justify-content center

	&.-a-center
		align-items center

	&.-wrap
		flex-wrap wrap
	
	&__item
		&.-m-l-auto
			margin-left auto
