// Copyright 2022 Furqan Software Ltd. All Rights Reserved.

.flex
	display flex
	
	&.-column
		flex-direction column

	&.-gap-1-4
		gap 0.25rem

	&.-gap-1-2
		gap 0.5rem

	&.-gap-1
		gap 1rem

	&.-jc-center
		justify-content center

	&.-jc-around
		justify-content space-around

	&.-jc-right
		justify-content right

	&.-ai-center
		align-items center

	&.-wrap
		flex-wrap wrap
	
	&__item
		&.-m-l-auto
			margin-left auto
		
		&.-g-1
			flex-grow 1

		&.-g-2
			flex-grow 2
		
		&.-s-1
			flex-shrink 1
		
		&.-b-0
			flex-basis 0

@media (max-width: 992px)
	.flex 
		&.-lmd-r-auto
			flex-wrap wrap

			> *
				flex-basis 100%

		.-lmd-ai-center
			align-items center

@media (max-width: 767px)
	.flex 
		&.-lsm-r-auto
			flex-wrap wrap

			> *
				flex-basis 100%
