// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

@require './func'
@require './color'
@require './reset'
@require './font'
@require './text'
@require './form'
@require './table'
@require './button'
@require './pill'
@require './dropdown'
@require './label'
@require './avatar'
@require './portlet'
@require './dashlet'
@require './artifact'
@require './pagination'
@require './modal'
@require './alert'
@require './utility'
