// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

$dark = #2f353b
$ebony = #22313f
$blue = #3598dc
$green = #26c281
$red = #e35b5a
$orange = #e87e04
$silver = #e7ecf1

$muted = mix($dark, $silver)
