// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

*
	box-sizing border-box

body
	margin 0

// img, video, canvas, audio, iframe, embed, object
// 	display block
// 	vertical-align middle

article,
aside,
details,
figcaption, 
figure, 
footer,
header,
hgroup, 
main,
menu,
nav,
section,
summary 
	display block

// TO REMOVE OR MOVE ELSEWHERE

@require './func'
@require './palette'

hr
	margin 20px 0
	border none
	border-top 1px solid lighten($silver, 25%)

label
	font-weight normal

// pre,
// pre[class*="language-"],
// .pre,
// code,
// code[class*="language-"]
// 	font-family 'Ubuntu Mono', monospace
// 	font-size 1.05em

// pre
// 	border-radius 2px

// code
// 	border none
// 	box-shadow none

// pre[class*="language-"] code
// 	display block

// 	.line-numbers
// 		padding-left 3.8em !important

// dl
// 	dt
// 		margin-bottom 4px
// 		font-weight 500

// 		.icon
// 			margin-top -4px

// 	dd .item
// 		margin-bottom 5px

small,
.small
	font-size 0.85em

.hidden
	display none

.dotted
	border-bottom 1px dotted $dark
	cursor pointer

.scroller
	overflow-y auto

// Bootstrap

.text-muted
	color $muted

.img-rounded
	border-radius 2px

.progress
	border-radius 2px
