// Copyright 2022 Furqan Software Ltd. All Rights Reserved.

_seen = {}
for n in (0..5)
    for d in (1..5)
        if !_seen[n/d]
            _seen[n/d] = true
            x = d == 1 ? n : s("%d-%d", n, d)
            // Gap
            .gap-{x}
                gap unit(n/d, rem)
            // Margin, Padding
            for k in 'margin' 'padding'
                kc = substr(k, 0, 1)
                .{kc}-{x}
                    {k} unit(n/d, rem)
                for e in top right bottom left
                    ec = substr(e, 0, 1)
                    .{kc}{ec}-{x}
                        {k}-{e} unit(n/d, rem)
