// Copyright 2020 Furqan Software Ltd. All Rights Reserved.

@require './const'

html
	font-size 16px

body 
	font-family 'Ubuntu', 'Hind Siliguri', 'Helvetica', sans-serif
	line-height 1.75em
	color $dark
	direction 'ltr'

h1,
h2,
h3,
h4
	font-weight normal

h1
	font-size 1.85em

h2
	font-size 1.5em

h3
	font-size 1.35em

h4
	font-size 1.2em

p
	margin 0 0 1.8125em

a
	text-decoration none
	color $blue

	&:hover,
	&:focus
		text-decoration underline
		color mix($blue, $ebony, 75%)
	
	&:active
		color $ebony

	&:focus-visible
		outline thin dotted
		outline 0.5rem auto Highlight
		outline 0.5rem auto -webkit-focus-ring-color
		outline-offset 0.5rem
	
	&:focus,
	&::-moz-focus-inner
		outline none

blockquote :last-child
	margin-bottom 0

summary
	font-weight 500
	cursor pointer
	
	.icon
		margin -0.25rem 0.75rem 0 0
		transition transform $fast ease-in
	
	[open] > &
		margin-bottom 1rem
		
		.icon
			transform rotate(90deg)

dl
	margin-bottom 1.25em

dt
	margin-bottom 0.25em
	font-weight 500

dd
	margin-left 0